<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="my-icons.html">


<link rel="lazy-import" href="my-usertb.html">
<link rel="lazy-import" href="my-penyakit.html">
<link rel="lazy-import" href="my-gejalasakit.html">
<link rel="lazy-import" href="my-riwayat.html">
<link rel="lazy-import" href="my-inputpenyakit.html">
<link rel="lazy-import" href="my-inputgejalasakit.html">
<link rel="lazy-import" href="my-inputusertb.html">
<link rel="lazy-import" href="my-inputinfo.html">
<link rel="lazy-import" href="my-info.html">
<link rel="lazy-import" href="my-hasilkonsul.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #303F9F;
        --app-primary-dark-color: #303F9F;
        --app-light-primary-color: #C5CAE9;
        --app-accent-color: #536DFE;
        --app-primary-color-kedua: #3F51B5;
        --app-secondary-color: #fff;
        --app-third-color: #3F51B5;

        display: block;
      }

      iron-pages{
        background: #fff;
      }
      app-drawer{
        --app-drawer-content-container:{
          background-color: var(--app-third-color);
          overflow-x: hidden;
        }
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;

      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: #fff;
        font-weight: bold;
      }
      app-toolbar{
        background-image: url(../img/ka.jpg);
        padding-bottom: 15px;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]"
        on-path-changed="_pathChanged"
        on-query-params-changed="_change"
        use-hash-as-path>
    </app-location>

    <app-route
        id="approot"
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}"
        on-query-params-changed="_change">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">

        <div><app-toolbar style="font-size: 30px; color: white; padding-top: 25px; padding-left: 50px;">
          <center><iron-icon icon="icons:home" item-icon></iron-icon><br></center>ADMIN</app-toolbar>
        </div>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">

          <a name="usertb" href="[[rootPath]]#/usertb">
            <iron-icon icon="icons:face" item-icon></iron-icon>&ensp;User</a><hr>
          <a name="penyakit" href="[[rootPath]]#/penyakit">
            <iron-icon icon="icons:book" item-icon></iron-icon> &ensp;Penyakit</a><hr>
          <a name="gejalasakit" href="[[rootPath]]#/gejalasakit">
            <iron-icon icon="icons:view-list" item-icon></iron-icon> &ensp;Gejala Sakit</a><hr>
          <a name="info" href="[[rootPath]]#/info">
            <iron-icon icon="icons:description" item-icon></iron-icon> &ensp;Informasi</a><hr>
          <!-- <a name="riwayat" href="[[rootPath]]#/riwayat">
            <iron-icon icon="icons:bookmark" item-icon></iron-icon> &ensp;Riwayat</a> -->
          <a name="logout" href="[[rootPath]]#/logout">
            <iron-icon icon="icons:exit-to-app" item-icon></iron-icon> &ensp;Logout</a>
          <!-- <a name="hasilkonsul" href="[[rootPath]]#/hasilkonsul">hasilkonsul</a>
          <a name="konsul" href="[[rootPath]]#/konsul">konsultasi</a>
          <a name="inputinfo" href="[[rootPath]]#/inputinfo/0">input info</a>
          <a name="inputusertb" href="[[rootPath]]#/inputusertb/0">input user</a>
          <a name="inputpenyakit" href="[[rootPath]]#/inputpenyakit/0">Input Penyakit</a>
          <a name="inputgejalasakit" href="[[rootPath]]#/inputgejalasakit/0">Input Gejala</a> -->
            <div style="border-bottom:1px solid #aaa;"></div>
        </iron-selector>

      </app-drawer>

      <app-header-layout>

        <!-- Main content -->
        <!-- <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>My App</div>
          </app-toolbar>
        </app-header> -->

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">

          <my-usertb name="usertb" route="[[route]]"></my-usertb>
          <my-penyakit name="penyakit" route="[[route]]"></my-penyakit>
          <my-gejalasakit name="gejalasakit" route="[[route]]"></my-gejalasakit>
          <my-info name="info" route="[[route]]"></my-info>
          <my-riwayat name="riwayat" route="[[route]]"></my-riwayat>
          <my-info name="info" route="[[route]]"></my-info>
          <my-hasilkonsul name="hasilkonsul" route="[[route]]"></my-hasilkonsul>
          <my-konsul name="konsul" route="[[route]]"></my-konsul>
          <my-inputinfo name="inputinfo" route="[[route]]"></my-inputinfo>
          <my-inputusertb name="inputusertb" route="[[route]]"></my-inputusertb>
          <my-inputpenyakit name="inputpenyakit" route="[[route]]"></my-inputpenyakit>
          <my-inputgejalasakit name="inputgejalasakit" route="[[route]]"></my-inputgejalasakit>

        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
    <paper-toast id="toast"></paper-toast>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            // reflectToAttribute: true,
            // observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          // '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'usertb';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }
      //fungsi
      _change(e){
        this.params=e.detail.value;
      }

      _pathChanged(data){
        console.log();
        let path=data.detail.value;
        let splitPath=path.split("/");
        let page = splitPath[1];
        this.page=page;
        this._pageChanged(page);
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
