<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components//iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components//iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-bio2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      .button {
        background-color:var(--app-primary-color);
        color:black;
      } 
      .horizontal {
        @apply --layout-horizontal;
      }
      .member {
        width: 100%;
      }
      .vertical {
        @apply --layout-vertical;
      }
    </style>
    <iron-ajax
    id="ajax"
    url="api/biodata"
    method="get"
    handle-as="json"
    on-response="handleResponse"
    on-error="errorResponse">
    </iron-ajax>

    <iron-media-query query="(max-width: 600px)" query-matches="{{mobile}}"></iron-media-query>
    <template is="dom-if" if="{{mobile}}">
      <app-header-layout has-scrolling-region style="width:100vh; height:100vh;">
         <!-- Header -->
        <app-header class="header" slot="header" fixed affects="waterfall">
          <app-toolbar>  
            <paper-icon-button  on-tap="menu" icon="menu"></paper-icon-button>
            <div main-title>BIODATA</div>
            <paper-icon-button on-tap="add" icon="add-circle"></paper-icon-button>
          </app-toolbar>
        </app-header>
          <!-- CONTENT -->
        <div class="content">
          <iron-list items="[[data]]" as="item" class="vertical">
            <template>
              <a href="#/kehadirancard/[[item.id]]" tabindex="-1">
                <paper-item>
                  <paper-item-body two-line>
                    <div>[[item.id]]</div>
                    <div>[[item.nama]]</div>
                    <div>[[item.tempat]]</div>
                    <div>[[item.tanggal]]</div>
                    <div>[[item.berat]]</div>
                    <div>[[item.panjang]]</div>
                    <div>[[item.jenkel]]</div>
                    <div>[[item.goldar]]</div>
                    <div>[[item.alamat]]</div>
                    <div>[[item.ayah]]</div>
                    <div>[[item.ibu]]</div>
                    <div>[[item.tlpn]]</div>
                  </paper-item-body>
                </paper-item>
                <div class="footerItem"></div>
              </a>
            </template>
          </iron-list>
          <paper-fab class="add" on-tap="add" icon="add"></paper-fab>
        </div>
          <!-- template   -->
       </app-header-layout>
    </template>

    <template is="dom-if" if="{{!mobile}}">
      <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
        <!-- HEADER -->
        <app-header class="header" slot="header" fixed effects="waterfall">
          <app-toolbar>
            <!-- <paper-icon-button on-tap="back" icon="close" title="kembali ke form input"></paper-icon-button> -->
              <div main-title style="text-align:center">BIODATA  BALITA</div>
                <paper-icon-button icon="search"></paper-icon-button>
          </app-toolbar>
          
          <app-toolbar>
            <div class="horizontal" style="width:100%; font-size:13px; padding-bottom:10px; border-bottom:1px; padding-top:35px">                
              <div class="member" style="padding-left:2px; width:25%">ID</div>
              <div class="member" style="padding-left:15px; width:35%">NAMA BALITA</div>
              <div class="member" style="padding-left:35px; width:30%">TEMPAT LAHIR</div>
              <div class="member" style="padding-left:25px; width:30%">TANGGAL LAHIR</div>        
              <div class="member" style="padding-left:50px; width:25%">BERAT LAHIR</div>          
              <div class="member" style="padding-left:25px; width:25%">PANJANG LAHIR</div>          
              <div class="member" style="padding-left:25px; width:50%">JENIS KELAMIN</div>          
              <div class="member" style="padding-left:20px; width:25%">GOLONGAN DARAH</div>          
              <div class="member" style="padding-left:25px; width:25%">RT</div>          
              <div class="member" style="padding-left:20px; width:50%">AYAH</div>          
              <div class="member" style="padding-left:20px; width:50%">IBU</div>          
              <div class="member" style="padding-left:1px; width:50%">NO.TLPN</div>          
            </div>
          </app-toolbar>
        </app-header>

        <!-- CONTENT -->
        <div class="content">
          <iron-list items="[[data]]" as="item" class="vertical">
            <template>
              <!-- <a href="?id=[[item.id]]#/forminput/0" tabindexs="-1"> -->
                <a href="?id=[[item.id]]#/kehadirancard/0" tabindexs="-1">
                  <paper-item>
                  <div class="horizontal" style="width:100%; border-bottom:1px solid rgb(200,200,200); height:48dp; padding-bottom:10px; font-size:13px">   
                    <div class="member" style="padding-left:0px; width:25%" >[[item.id]]</div>
                    <div class="member" style="padding-left:15px; width:35%">[[item.nama]]</div>
                    <div class="member" style="padding-left:35px; width:30%">[[item.tempat]]</div>
                    <div class="member" style="padding-left:25px; width:50%">[[_convert(item.tanggal)]]</div>
                    <div class="member" style="padding-left:40px; width:25%">[[item.berat]]</div>
                    <div class="member" style="padding-left:20px; width:25%">[[item.panjang]]</div>
                    <div class="member" style="padding-left:30px; width:50%">[[item.jenkel]]</div>
                    <div class="member" style="padding-left:30px; width:25%">[[item.goldar]]</div>
                    <div class="member" style="padding-left:50px; width:25%">[[item.rt]]</div>
                    <div class="member" style="padding-left:25px; width:50%">[[item.ayah]]</div>
                    <div class="member" style="padding-left:25px; width:50%">[[item.ibu]]</div>
                    <div class="member" style="padding-left:10px; width:50%">[[item.tlpn]]</div>
                  </div> 
                </paper-item>
              </a>
            </template>
          </iron-list>
        </div>
        <!-- </template> -->
      </app-header-layout>
    </template>
  </template>

  <script>
    class Mybio2 extends Polymer.Element {
      static get is() {
        return 'my-bio2';    
      }
        static get properties(){
        return {
          data:Object,
          route:{
            type:Object,
            observer:'_reload'
          },
          id:{
            type: String,
            notify: true
          },
          nama:{
            type: String,
            notify: true
          },
          tempat:{
            type: String,
            notify: true
          },
          tanggal:{
            type: String,
            notify: true
          },
          berat:{
            type: String,
            notify: true
          },
          panjang:{
            type: String,
            notify: true
          },
          jenkel:{
            type: String,
            notify: true
          },
          goldar:{
            type: String,
            notify: true
          },
          alamat:{
            type: String,
            notify: true
          },
          ayah:{
            type: String,
            notify: true
          },
          ibu:{
            type: String,
            notify: true
          },
          tlpn:{
            type: String,
            notify: true
          },
        }
        }

        _reload(e){
          let path = e.path;
          let data = path.split('/');
          console.log(data);
          if(data[0] === ''){
            this.$.ajax.generateRequest();
          return;
          }
          if(data[1] !== 'biodata'){
          return;
          }
          this.$.ajax.generateRequest();
        }

        _convert(date){
        let tanggal=date.split("T");
        // console.log(tanggal);
        let change=tanggal[0].split("-");
        console.log(change);
        return change[2]+"-"+change[1]+"-"+change[0];
      }
        
        _paperOnChange(e){
      // console.log(this.shadowRoot);
      // console.log(this.$.id.getAttribute('label'));
      // console.log(this.$.nama.getAttribute('label'));
      // console.log(this.$.tempat.getAttribute('label'));
      // console.log(this.$.tanggal.getAttribute('label'));
      // console.log(this.$.ayah.getAttribute('label'));
      // console.log(this.$.ibu.getAttribute('label'));
      // console.log(this.$.alamat.getAttribute('label'));
      // console.log(this.$.jenkel.getAttribute('label'));
      // console.log(this.$.berat.getAttribute('label'));
      // console.log(this.$.panjang.getAttribute('label'));
      // console.log(this.$.goldar.getAttribute('label'));
      // console.log(this.$.tlpn.getAttribute('label'));
      // console.log(e.detail.sourceEvent.path[0]['value']);
      // console.log(this.id);
      // console.log(this.nama);
      // console.log(this.tempat);
      // console.log(this.tanggal);
      // console.log(this.ayah);
      // console.log(this.ibu);
      // console.log(this.alamat);
      // console.log(this.jenkel);
      // console.log(this.berat);
      // console.log(this.panjang);
      // console.log(this.goldar);
      // console.log(this.tlpn);
        }

        menu(){
          let myapp = document.querySelector('my-app');
          let drawer = myapp.shadowRoot.querySelector('#drawer');
          drawer.open();
        }

        back(e){
          // window.history.pushState({}, null, '#/forminput');
          window.history.pushState({}, null, '#/kehadirancard');
          window.dispatchEvent(new CustomEvent('location-changed'));
        } 
       
        handleResponse(e){
          this.data = e.detail.response;
          // console.log(this.data);
        }

        errorResponse (e){
          // console.log(e);
        }
    }

    window.customElements.define(Mybio2.is, Mybio2);
  </script>
</dom-module>
