<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">


<link rel="import" href="shared-styles.html">

<dom-module id="my-daftar">
  <template>
    <style include="shared-styles">
     :host {
        display: block;
      }
      header {
        height: calc(100vh - 64px);
        background-image: url("../images/2018_08_15_8.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        color: rgb(234, 245, 241);
        background-position: center;
        display: block;
        /* align-items: center; */
        justify-content: center;
      }
      .box{
        @apply --layout-vertical;
        /* @apply --layout-center-center; */
        width: 100%;
        height: 100%;
        background-color: rgba(192, 187, 187, 0.103);
        display: flex;
        /* text-align: center; */
        align-items: center;
        -webkit-backdrop-filter: drop-shadow(80%) blur(6px);
        backdrop-filter: drop-shadow(80%) blur(6px);
        position: relative;
      }
      form {
        max-width: 300px;
        margin: auto;
        padding: 2em 2em 2em 2em;
        background: #fafafa;
        display: block;
        border: 1px solid #ebebeb;
        box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
      }

      vaadin-password-field{
        padding-left: 20px;
        width: 87%;
      }
      p {
        color: rgb(105, 107, 107);
        line-height: 1.5;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 10px;
      }
      .button{
        background-color:var(--app-accent-color);
        color:white;
      }

    </style>
    <iron-ajax
    id= "ajax"
    handle-as="json"
    on-response="handleResponse"
    on-error="errorResponse"></iron-ajax>
     <header>
      <div class="box">
      <form>
        <center><h2 style="color:var(--app-accent-color); font-weight:bold; ">Pendaftaran</h2></center>
        <paper-input id= "nama" label="Nama"></paper-input>
        <paper-input id= "email" label="Email"></paper-input>
          <paper-input id= "username" label="Username"></paper-input>
          <paper-input id= "password" label="Password" type="password"></paper-input><br>
          <label  style="color:gray">Tanggal Lahir :</label><br>
          <vaadin-date-picker id="t_lahir"></vaadin-date-picker><br><br>
          <label  style="color:gray">Jenis Kelamin :</label><br>
          <paper-radio-group id="j_kelamin" selected="" >
            <paper-radio-button name="p">Perempuan</paper-radio-button>
            <paper-radio-button name="l">Laki-laki</paper-radio-button>
          </paper-radio-button>
          <br><br>
          <div align="center">
            <paper-button on-tap="_submit" class="button">Submit</paper-button>
          </div>
        </div>
        </div>
     </form>
    </div>
    </header>
    </template>


    <script>
      class MyDaftar extends Polymer.Element {
        static get is() { return 'my-daftar'; }
        static get properties() {
          return {
            data:Object,
            route:{
              type:Object,
              observer:'_reload',
            },
            id_user:{
              type: String,
              notify: true
            },
            nama:{
              type: String,
              notify: true
            },
            email:{
              type: String,
              notify: true
            },
            t_lahir:{
              type: String,
              notify: true
            },
            j_kelamin:{
              type: String,
              notify: true
            },
            username:{
              type: String,
              notify: true
            },
            password:{
              type: String,
              notify: true
            },
          }
        }

          _reload(e){
            let path = e.path;
            let data= path.split('/');
            if(data[1] !== 'daftar'){
              return;
            }
            if(data[2]){
              this.headerID = data[2];
              if(data[2]==='0'){
              this.$.nama.value = '';
              this.$.email.value = '';
              this.$.j_kelamin.value = '';
              this.$.t_lahir.value='';
              this.$.username.value = '';
              this.$.password.value = '';
              return;
            }
            let urlData = 'api/usertb/'+data[2];
            this.$.ajax.url = urlData;
            this.$.ajax.method ='GET';
            this.$.ajax.generateRequest();

          }
          console.log(data);
        }

          _submit(e){
            let nama = this.$.nama.value;
            let email = this.$.email.value;
            let t_lahir = this.$.t_lahir.value;
            let username = this.$.username.value;
            let password = this.$.password.value;
            let dataUrl = 'api/usertb';
            let data ={};
            let j_kelamin = this.$.j_kelamin.selected;
            let gender= "";
            if (j_kelamin==="p"){
              gender="p";
            } else if (j_kelamin==="l") {
              gender="l";
            }
            if(this.headerID == "0"  || typeof this.headerID ==='undefined'){
              data = {
                nama: nama,
                email: email,
                j_kelamin: gender,
                t_lahir:t_lahir+'T00:00:00Z',
                username: username,
                password: password,
              }
              this.$.ajax.method = 'POST';
            }else {
              data={
                nama: nama,
                email: email,
                j_kelamin: gender,
                t_lahir:t_lahir+'T00:00:00Z',
                username: username,
                password: password,
              }
              this.$.ajax.method = 'PUT';
              dataUrl += '/' +this.headerID;
            }
            this.$.ajax.url = dataUrl;
            let json =JSON.stringify(data);
            this.$.ajax.body = json;
            this.$.ajax.generateRequest();
          }


          handleResponse(e){
            if(this.headerID === '0' || typeof this.headerID === 'undefined'){
              window.history.pushState({}, null,'#/usertb/0');
              window.dispatchEvent(new CustomEvent('location-changed'));
            }
            let data = e.detail.response;
            if(!data){
              return;
            }
            this.$.nama.value = data.nama;
            this.$.email.value = data.email;
            this.$.j_kelamin.selected = data.j_kelamin;
            // this.$.t_lahir.value = data.t_lahir;
            this.$.username.value = data.username;
            this.$.password.value = data.password;
            console.log(this.headerID);

          }

          errorResponse(e){
            let myApp = document.querySelector('my-app');
            let toast = myApp.shadowRoot.querySelector('#toast');
            console.log(myApp);
            console.log(toast);
            let message = e.detail.error.message;
            toast.setAttribute('text', message);
            toast.open();
          }

    }

      window.customElements.define(MyDaftar.is, MyDaftar);
    </script>
</dom-module>
