<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">


<link rel="import" href="shared-styles.html">

<dom-module id="my-gejalasakit">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        /* padding: 10px; */
      }

      .button{
        background-color:var(--app-primary-color);
        color:black;

      }

      .member{
        width: 100%;
      }

      .horizontal{
          @apply --layout-horizontal;
      }

      .vertical{
        @apply --layout-vertical;
      }
      .toolbarsatu{
        background-color: #1e2864;
        /* background-image: url(../img/ka.jpg); */
        /* padding-bottom: 15px; */
      }
    </style>

    <iron-ajax
    id= "ajax"
    url="/api/gejalasakit"
    method="get"
    handle-as="json"
    on-response="handleResponse"
    on-error="errorResponse"></iron-ajax>

    <iron-media-query query="(max-width: 600px)" query-matches="{{mobile}}"></iron-media-query>

    <template is="dom-if" if="{{!mobile}}">
      <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
        <!-- HEADER -->
        <app-header class="header" slot="header" fixed affects="waterfall">
          <app-toolbar class="toolbarsatu">
            <div main-title>Bentuk Gejala</div>
            <paper-icon-button on-tap="add" icon="add-circle"></paper-icon-button>
          </app-toolbar>
          <app-toolbar>
            <div class="horizontal" style="width:100%; font-size: 18px; padding-bottom:10px; border-bottom:1px;">
              <div class="member" style="padding-left:2px; width:25%">No</div>
              <div class="member" style="padding-left:2px; width:50%">Gejala Penyakit</div>
              <div class="member"style="padding-left:2px; width:25%">Nilai CF</div>
            </div>
          </app-toolbar>
        </app-header>
        <!-- CONTENT -->
      <div class="content" style="width: 100%;">
        <iron-list items="[[data]]" as="item" class="vertical">
      <template>
        <a href="#/inputgejalasakit/[[item.id_gejala]]" tabindex="-1">
          <paper-item>
            <div class="horizontal" style="width:100%; border-bottom: 1px solid rgb(200,200,200); height: 48dp; padding-top: 15px; font-size: 13px;">
              <div class="member"style="padding-left:2px; width:25%">[[item.id_gejala]]</div>
              <div class="member"style="padding-left:2px; width:50%; text-align:left;">[[item.gejala_penyakit]]</div>
              <div class="member"style="padding-left:2px; width:25%">[[item.cf_pakar]]</div>
            </div>
          </paper-item>
        </a>
      </template>
    </iron-list>
  </div>
  </app-header-layout>
    </template>
    <!-- </template> -->

    <template is="dom-if" if="{{mobile}}">
      <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
        <!-- HEADER -->
        <app-header class="header" slot="header" fixed affects="waterfall">
          <app-toolbar>
            <paper-icon-button on-tap="menu" icon="menu"></paper-icon-button>
            <div main-title>Bentuk Gejala</div>
          </app-toolbar>
        </app-header>

      <div class="content">
        <iron-list items="[[data]]" as="item" class="vertical">
      <template>
        <a href="#/inputgejalasakit/[[item.id_gejala]]" tabindex="-1">
          <!-- <paper-item class="horizontal"> -->
          <paper-item>
            <paper-item-body two-line>
            <div>[[item.id_gejala]]</div>
            <div>[[item.gejala_penyakit]]</div>
            <div>[[item.cf_pakar]]</div>
          </paper-item-body>
          </paper-item>
        </a>
      </template>
    </iron-list>
  </div>
  </app-header-layout>
    </template>


</template>

  <script>
    class MyGejalasakit extends Polymer.Element {
      static get is() {
        return 'my-gejalasakit';
      }
      static get properties() {
        return {
          data:Object,
          route:{
            type:Object,
            observer:'_reload',
          },
          id_gejala:{
            type: String,
            notify: true
          },
          gejala_penyakit:{
            type: String,
            notify: true
          },
          cf_pakar:{
            type: String,
            notify: true
          },
        }
      }

      // _reload(e){
      //   console.log(e);
      //   let path = e.path;
      //   let data= path.split('/');
      //   if(data[1] !== "gejalasakit"){
      //     return;
      //   }
      //   this.$.ajax.generateRequest();
      // }

      _reload(e){
          let path = e.path;
          let data = path.split('/');
          console.log(data);
          if(data[0] === ''){
            this.$.ajax.generateRequest();
          return;
          }
          if(data[1] !== 'penyakit'){
          return;
          }
          this.$.ajax.generateRequest();
        }

      add(){
        window.history.pushState({}, null, '#/inputgejalasakit/0');
        window.dispatchEvent(new CustomEvent('location-changed'));
      }

      menu(){
        let myapp = document.querySelector('my-app');
        let drawer = myapp.shadowRoot.querySelector('#drawer');
        drawer.open();
      }

      handleResponse(e){
        this.data = e.detail.response;
        console.log(this.data);
      }

      errorResponse(e){
        console.log(e);
      }

    }

    window.customElements.define(MyGejalasakit.is, MyGejalasakit);
  </script>
</dom-module>
