<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-inputinfo">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        /* padding: 10px; */
      }
      .button{
        background-color:var(--app-primary-color);
        color:black;
      }
      app-toolbar{
        background-image: url(../img/ka.jpg);
      }
    </style>

    <iron-ajax
    id= "ajax"
    handle-as="json"
    on-response="handleResponse"
    on-error="errorResponse"></iron-ajax>

    <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
      <!-- HEADER -->
      <app-header class="header" slot="header" fixed affects="waterfall">
        <app-toolbar>
          <paper-icon-button on-tap="close" icon="close"></paper-icon-button>
          <div main-title>Input Informasi Penyakit</div>
          <paper-icon-button on-tap="delete" icon="delete"></paper-icon-button>
          <paper-icon-button on-tap="add" icon="add-circle"></paper-icon-button>
        </app-toolbar>

      <div class="content" style="padding:10px;">
        <div style="width: 60%";>
          <paper-input id= "judul" label="Judul"></paper-input>
          <paper-textarea id= "isi" label="Isi"></paper-textarea>
          <paper-input id= "sumber" label="Sumber"></paper-input>
        </div><br>
      <paper-button on-tap="_submit" class="confirm">Submit</paper-button>
    </div>
  </app-header-layout>
  </template>


  <script>
    class MyInputinfo extends Polymer.Element {
      static get is() { return 'my-inputinfo'; }
      static get properties() {
        return {
          data:Object,
          route:{
            type:Object,
            observer:'_reload',
          },
          id_info:{
            type: String,
            notify: true
          },
          judul:{
            type: String,
            notify: true
          },
          isi:{
            type: String,
            notify: true
          },
          sumber:{
            type: String,
            notify: true
          },
        }
      }

        add(e){
          window.history.pushState({}, null,'#/inputinfo/0');
          window.dispatchEvent(new CustomEvent('location-changed'));
        }

        close(e){
          window.history.pushState({}, null,'#/info/0');
          window.dispatchEvent(new CustomEvent('location-changed'));
        }

        delete(e){
          this.$.ajax.url = '/api/info/'+this.headerID;
          this.$.ajax.method= 'DELETE';
          this.$.ajax.generateRequest();

          window.history.pushState({}, null,'#/inputinfo/0');
          window.dispatchEvent(new CustomEvent('location-changed'));
        }

        _reload(e){
          let path = e.path;
          let data= path.split('/');
          if(data[1] !== 'inputinfo'){
            return;
          }
          if(data[2]){
            this.headerID = data[2];
            if(data[2]==='0'){
            this.$.judul.value = '';
            this.$.isi.value = '';
            this.$.sumber.value = '';
            return;
          }
          let urlData = '/api/info/'+data[2];
          this.$.ajax.url = urlData;
          this.$.ajax.method ='GET';
          this.$.ajax.generateRequest();
        }
        console.log(data);
      }

        _submit(e){
          let judul = this.$.judul.value;
          let isi = this.$.isi.value;
          let sumber = this.$.sumber.value;
          let dataUrl = '/api/info';
          let data ={};
          if(this.headerID == "0"  || typeof this.headerID ==='undefined'){
            data = {
              judul: judul,
              isi:isi,
              sumber:sumber,
            }
            this.$.ajax.method = 'POST';
          }else {
            data={
              judul:judul,
              isi:isi,
              sumber:sumber,
            }
            this.$.ajax.method = 'PUT';
            dataUrl += '/' +this.headerID;
          }
          this.$.ajax.url = dataUrl;
          let json =JSON.stringify(data);
          this.$.ajax.body = json;
          this.$.ajax.generateRequest();
        }


        handleResponse(e){
          if(this.headerID === '0' || typeof this.headerID === 'undefined'){
            window.history.pushState({}, null,'#/info/0');
            window.dispatchEvent(new CustomEvent('location-changed'));
          }
          let data = e.detail.response;
          if(!data){
            return;
          }

          this.$.judul.value = data.judul;
          this.$.isi.value = data.isi;
          this.$.sumber.value = data.sumber;
          console.log(this.headerID);

        }

        errorResponse(e){
          let myApp = document.querySelector('my-app');
          let toast = myApp.shadowRoot.querySelector('#toast');
          console.log(myApp);
          console.log(toast);
          let message = e.detail.error.message;
          toast.setAttribute('text', message);
          toast.open();
        }
  }

    window.customElements.define(MyInputinfo.is, MyInputinfo);
  </script>
</dom-module>
