<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-inputusertb">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        /* padding: 10px; */
      }
      .button{
        background-color:var(--app-primary-color);
        color:black;
      }
      app-toolbar{
        background-image: url(../img/ka.jpg);
      }
    </style>

    <iron-ajax
    id= "ajax"
    handle-as="json"
    on-response="handleResponse"
    on-error="errorResponse"></iron-ajax>

    <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
      <!-- HEADER -->
      <app-header class="header" slot="header" fixed affects="waterfall">
        <app-toolbar>
          <paper-icon-button on-tap="close" icon="close"></paper-icon-button>
          <div main-title>Input User</div>
          <paper-icon-button on-tap="delete" icon="delete"></paper-icon-button>
          <paper-icon-button on-tap="add" icon="add-circle"></paper-icon-button>
        </app-toolbar>

      <div class="content" style="padding:10px;">
      <div style="width: 40%";>
      <paper-input id= "nama" label="Nama" readonly></paper-input>
      <paper-input id= "email" label="Email" readonly></paper-input>
        <paper-input id= "username" label="Username" readonly></paper-input>
        <paper-input id= "password" label="Password" type="password" readonly></paper-input><br>
        <label  style="color:gray" readonly>Tanggal Lahir :</label><br>
        <vaadin-date-picker id="t_lahir" readonly></vaadin-date-picker><br><br>
        <label  style="color:gray" readonly>Jenis Kelamin :</label><br>
        <paper-radio-group id="j_kelamin" selected="" readonly>
          <paper-radio-button name="p">Perempuan</paper-radio-button>
          <paper-radio-button name="l">Laki-laki</paper-radio-button>
        </paper-radio-button>
        <br><br>
      </div>
      <paper-button on-tap="_submit" class="confirm">Submit</paper-button>
    </div>
  </app-header-layout>
  </template>


  <script>
    class MyInputusertb extends Polymer.Element {
      static get is() { return 'my-inputusertb'; }
      static get properties() {
        return {
          data:Object,
          route:{
            type:Object,
            observer:'_reload',
          },
          id_user:{
            type: String,
            notify: true
          },
          nama:{
            type: String,
            notify: true
          },
          email:{
            type: String,
            notify: true
          },
          t_lahir:{
            type: String,
            notify: true
          },
          j_kelamin:{
            type: String,
            notify: true
          },
          username:{
            type: String,
            notify: true
          },
          password:{
            type: String,
            notify: true
          },
        }
      }

        add(e){
          window.history.pushState({}, null,'#/inputusertb/0');
          window.dispatchEvent(new CustomEvent('location-changed'));
        }

        close(e){
          window.history.pushState({}, null,'#/usertb/0');
          window.dispatchEvent(new CustomEvent('location-changed'));
        }

        delete(e){
          this.$.ajax.url = '/api/usertb/'+this.headerID;
          this.$.ajax.method= 'DELETE';
          this.$.ajax.generateRequest();

          window.history.pushState({}, null,'#/inputusertb/0');
          window.dispatchEvent(new CustomEvent('location-changed'));
        }

        _reload(e){
          let path = e.path;
          let data= path.split('/');
          if(data[1] !== 'inputusertb'){
            return;
          }
          if(data[2]){
            this.headerID = data[2];
            if(data[2]==='0'){
            this.$.nama.value = '';
            this.$.email.value = '';
            this.$.j_kelamin.value = '';
            this.$.t_lahir.value='';
            this.$.username.value = '';
            this.$.password.value = '';
            return;
          }
          let urlData = '/api/usertb/'+data[2];
          this.$.ajax.url = urlData;
          this.$.ajax.method ='GET';
          this.$.ajax.generateRequest();

        }
        console.log(data);
      }

        _submit(e){
          let nama = this.$.nama.value;
          let email = this.$.email.value;
          let t_lahir = this.$.t_lahir.value;
          let username = this.$.username.value;
          let password = this.$.password.value;
          let dataUrl = '/api/usertb';
          let data ={};
          let j_kelamin = this.$.j_kelamin.selected;
          let gender= "";
          if (j_kelamin==="p"){
            gender="p";
          } else if (j_kelamin==="l") {
            gender="l";
          }
          if(this.headerID == "0"  || typeof this.headerID ==='undefined'){
            data = {
              nama: nama,
              email: email,
              j_kelamin: gender,
              t_lahir:t_lahir+'T00:00:00Z',
              username: username,
              password: password,
            }
            this.$.ajax.method = 'POST';
          }else {
            data={
              nama: nama,
              email: email,
              j_kelamin: gender,
              t_lahir:t_lahir+'T00:00:00Z',
              username: username,
              password: password,
            }
            this.$.ajax.method = 'PUT';
            dataUrl += '/' +this.headerID;
          }
          this.$.ajax.url = dataUrl;
          let json =JSON.stringify(data);
          this.$.ajax.body = json;
          this.$.ajax.generateRequest();
        }


        handleResponse(e){
          if(this.headerID === '0' || typeof this.headerID === 'undefined'){
            window.history.pushState({}, null,'#/usertb/0');
            window.dispatchEvent(new CustomEvent('location-changed'));
          }
          let data = e.detail.response;
          if(!data){
            return;
          }
          this.$.nama.value = data.nama;
          this.$.email.value = data.email;
          this.$.j_kelamin.selected = data.j_kelamin;
          // this.$.t_lahir.value = data.t_lahir;
          this.$.username.value = data.username;
          this.$.password.value = data.password;
          console.log(this.headerID);

        }

        errorResponse(e){
          let myApp = document.querySelector('my-app');
          let toast = myApp.shadowRoot.querySelector('#toast');
          console.log(myApp);
          console.log(toast);
          let message = e.detail.error.message;
          toast.setAttribute('text', message);
          toast.open();
        }


    // _onChange(){
    //   let id_user = this.shadowRoot.querySelector('#id_user').value;
    //   this.shadowRoot.querySelector("#outputid_user").innerHTML = id_user;
    // }
    //
    // _onChangeNama(){
    // let nama = this.shadowRoot.querySelector('#nama').value;
    // this.shadowRoot.querySelector("#outputnama").innerHTML = nama;
    // }
    //
    // _onChangeEmail(){
    // let email = this.shadowRoot.querySelector('#email').value;
    // this.shadowRoot.querySelector("#outputemail").innerHTML = email;
    // }
    //
    // _onChangeJ_kelamin(){
    // let j_kelamin = this.shadowRoot.querySelector('#j_kelamin').value;
    // this.shadowRoot.querySelector("#outputj_kelamin").innerHTML = j_kelamin;
    // }
    //
    // _onChangeUsername(){
    // let username = this.shadowRoot.querySelector('#username').value;
    // this.shadowRoot.querySelector("#outputusername").innerHTML = username;
    // }
    //
    // _onChangePassword(){
    // let password = this.shadowRoot.querySelector('#password').value;
    // this.shadowRoot.querySelector("#outputpassword").innerHTML = password;
    // }

  }

    window.customElements.define(MyInputusertb.is, MyInputusertb);
  </script>
</dom-module>
