<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu-light.html">
<link rel="import" href="custome-element/my-dropdown.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-inputgejalasakit">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        /* padding: 10px; */
      }
      .button{
        background-color:var(--app-primary-color);
        color:black;
      }
      app-toolbar{
        background-image: url(../img/ka.jpg);
      }
    </style>

    <iron-ajax
      id= "ajax"
      handle-as="json"
      on-response="handleResponse"
      on-error="errorResponse">
    </iron-ajax>
    <iron-ajax
      id="ajaxPenyakit"
      handle-as="json"
      on-response="handlePenyakitResponse"
      on-error="errorPenyakitResponse">
    </iron-ajax>

    <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
      <!-- HEADER -->
      <app-header class="header" slot="header" fixed affects="waterfall">
        <app-toolbar>
          <paper-icon-button on-tap="close" icon="close"></paper-icon-button>
          <div main-title>Input Bentuk Gejala</div>
          <paper-icon-button on-tap="delete" icon="delete"></paper-icon-button>
          <paper-icon-button on-tap="add" icon="add-circle"></paper-icon-button>
        </app-toolbar>

      <div class="content" style="padding:10px;">
      <div style="width: 40%";>
        <paper-input id= "gejala_penyakit" label="gejala_penyakit"></paper-input>
        <my-dropdown id="jenis_penyakit" data="[[penyakit]]" label="input penyakit"></my-dropdown>
        <paper-input id= "cf_pakar" label="cf_pakar" type="number" minimum="0" maximum="1" step="0.1"></paper-input>
      </div><br>
      <paper-button on-tap="_submit" class="confirm">Submit</paper-button>
    </div>
  </app-header-layout>
  </template>


  <script>
    class MyInputgejalasakit extends Polymer.Element {
      static get is() {
        return 'my-inputgejalasakit';
      }
      static get properties() {
        return {
          data:Object,
          penyakit:{
            type: Object,
          },
          route:{
            type:Object,
            observer:'_reload',
          },
          id_gejala:{
            type: String,
            notify: true
          },
          jenis_gejala:{
            type: String,
            notify: true
          },
          jenis_penyakit:{
            type: String,
            notify: true
          },
          cf_pakar:{
            type: String,
            notify: true
          },
        }
      }

        add(e){
          window.history.pushState({}, null,'#/inputgejalasakit/0');
          window.dispatchEvent(new CustomEvent('location-changed'));
        }

        close(e){
          window.history.pushState({}, null,'#/gejalasakit/0');
          window.dispatchEvent(new CustomEvent('location-changed'));
        }

        delete(e){
          this.$.ajax.url = '/api/gejalasakit/'+this.headerID;
          this.$.ajax.method= 'DELETE';
          this.$.ajax.generateRequest();
          window.history.pushState({}, null,'#/inputgejalasakit/0');
          window.dispatchEvent(new CustomEvent('location-changed'));
        }

        dropdownOpen(e){
          console.log("penyakit");
          this.shadowRoot.querySelector("#jenis_penyakit_dropdown").open();
        }

        _reload(e){
          let path = e.path;
          let data= path.split('/');
          if(data[1] !== 'inputgejalasakit'){
            return;
          }
          this.$.ajaxPenyakit.url ="/api/penyakit";
          this.$.ajaxPenyakit.method= "Get";
          this.$.ajaxPenyakit.generateRequest();
          if(data[2]){
            this.headerID = data[2];
            if(data[2]==='0'){
              this.$.jenis_penyakit.value = '';
              this.$.gejala_penyakit.value = '';
              this.$.cf_pakar.value = '';
            return;
          }
          let urlData = '/api/gejalasakit/'+data[2];
          this.$.ajax.url = urlData;
          this.$.ajax.method ='GET';
          this.$.ajax.generateRequest();
        }
        console.log(data);
      }

        _submit(e){
          // console.log(this.shadowRoot.querySelector("#jenis_penyakit").selectedIndex);
          let id_penyakit = this.shadowRoot.querySelector("#jenis_penyakit").selectedIndex;
          // let jenis_penyakit = this.shadowRoot.querySelector("#jenis_penyakit").selectedIndex
          let gejala_penyakit = this.$.gejala_penyakit.value;
          let cf_pakar = this.$.cf_pakar.value;
          let dataUrl = '/api/gejalasakit';
          let data ={};
          if(this.headerID == "0"  || typeof this.headerID ==='undefined'){
            data = {
              id_penyakit: parseInt(id_penyakit),
              // jenis_penyakit:jenis_penyakit,
              gejala_penyakit: gejala_penyakit,
              cf_pakar: parseFloat(cf_pakar),
            }
            this.$.ajax.method = 'POST';
          }else {
            data={
              // jenis_penyakit:jenis_penyakit,
              gejala_penyakit:gejala_penyakit,
              cf_pakar:parseFloat(cf_pakar),
            }
            this.$.ajax.method = 'PUT';
            dataUrl += '/' +this.headerID;
          }
          this.$.ajax.url = dataUrl;
          let json =JSON.stringify(data);
          this.$.ajax.body = json;
          this.$.ajax.generateRequest();
        }


        handleResponse(e){
          if(this.headerID === '0' || typeof this.headerID === 'undefined'){
            window.history.pushState({}, null,'#/gejalasakit/0');
            window.dispatchEvent(new CustomEvent('location-changed'));
          }
          let data = e.detail.response;
          if(!data){
            return;
          }
          this.$.jenis_penyakit.value = data.jenis_penyakit;
          this.$.gejala_penyakit.value = data.gejala_penyakit;
          this.$.cf_pakar.value=data.cf_pakar;
          console.log(this.headerID);

        }

        handlePenyakitResponse(e){
          let data = e.detail.response;
          if(!data){
            return;
          }
          let result = [];
          for(let i=0; i<data.length; i++){

            result[i]= {id: data[i]["id_penyakit"],title: data[i]["jenis_penyakit"]};

          }
          console.log(result);
          this.penyakit= result;
        }

        errorResponse(e){
          let myApp = document.querySelector('my-app');
          let toast = myApp.shadowRoot.querySelector('#toast');
          console.log(myApp);
          console.log(toast);
          let message = e.detail.error.message;
          toast.setAttribute('text', message);
          toast.open();
        }


    _onChange(){
      let id_gejala = this.shadowRoot.querySelector('#id_gejala').value;
      this.shadowRoot.querySelector("#outputid_gejala").innerHTML = id_gejala;
    }

    _onChangeId_penyakit(){
      let id_penyakit = this.shadowRoot.querySelector('#id_penyakit').value;
      this.shadowRoot.querySelector("#outputid_penyakit").innerHTML = id_penyakit;
    }

    _onChangeJenis_penyakit(){
      let jenis_penyakit = this.shadowRoot.querySelector('#jenis_penyakit').value;
      this.shadowRoot.querySelector("#outputjenis_penyakit").innerHTML = jenis_penyakit;
    }

    _onChangeGejala_penyakit(){
    let gejala_penyakit = this.shadowRoot.querySelector('#gejala_penyakit').value;
    this.shadowRoot.querySelector("#outputgejala_penyakit").innerHTML = gejala_penyakit;
    }

    _onChangeCf_pakar(){
    let cf_pakar = this.shadowRoot.querySelector('#cf_pakar').value;
    this.shadowRoot.querySelector("#outputcf_pakar").innerHTML = cf_pakar;
    }
  }

    window.customElements.define(MyInputgejalasakit.is, MyInputgejalasakit);
  </script>
</dom-module>
