<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-inputriwayat">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        /* padding: 10px; */
      }
      .button{
        background-color:var(--app-primary-color);
        color:black;
      }
    </style>

    <iron-ajax
    id= "ajax"
    handle-as="json"
    on-response="handleResponse"
    on-error="errorResponse"></iron-ajax>

    <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
      <!-- HEADER -->
      <app-header class="header" slot="header" fixed affects="waterfall">
        <app-toolbar>
          <paper-icon-button on-tap="close" icon="close"></paper-icon-button>
          <div main-title>Input Data</div>
          <paper-icon-button on-tap="delete" icon="delete"></paper-icon-button>
          <paper-icon-button on-tap="add" icon="add-circle"></paper-icon-button>
        </app-toolbar>

      <div class="content" style="padding:10px;">
      <paper-input id= "nama" label="Nama"></paper-input>
      <paper-input id= "tanggal" label="Tanggal Lahir"></paper-input>
      <paper-input id= "j_kelamin" label="Jenis Kelamin"></paper-input>
      <paper-button on-tap="_submit" class="confirm">Submit</paper-button>
    </div>
  </app-header-layout>
  </template>


  <script>
    class Myinputriwayat extends Polymer.Element {
      static get is() { return 'my-inputriwayat'; }
      static get properties() {
        return {
          data:Object,
          route:{
            type:Object,
            observer:'_reload',
          },
        }
      }

        add(e){
          window.history.pushState({}, null,'#/inputriwayat/0');
          window.dispatchEvent(new CustomEvent('location-changed'));
        }

        close(e){
          window.history.pushState({}, null,'#/riwayat/0');
          window.dispatchEvent(new CustomEvent('location-changed'));
        }

        delete(e){
          this.$.ajax.url = 'api/riwayat/'+this.headerID;
          this.$.ajax.method= 'DELETE';
          this.$.ajax.generateRequest();

          window.history.pushState({}, null,'#/inputriwayat/0');
          window.dispatchEvent(new CustomEvent('location-changed'));
        }

        _reload(e){
          let path = e.path;
          let data= path.split('/');
          if(data[1] !== 'inputriwayat'){
            return;
          }
          if(data[2]){
            this.headerID = data[2];
            if(data[2]==='0'){
            this.$.id_riwayat.value = '';
            this.$.nama.value = '';
            //kurang mulai dari sini//
            return;
          }
          let urlData = 'api/penyakit/'+data[2];
          this.$.ajax.url = urlData;
          this.$.ajax.method ='GET';
          this.$.ajax.generateRequest();
        }
        console.log(data);
      }

        _submit(e){
          // let id_penyakit = this.$.id_penyakit.value;
          let jenis_penyakit = this.$.jenis_penyakit.value;
          let dataUrl = 'api/penyakit';
          let data ={};
          if(this.headerID == "0"  || typeof this.headerID ==='undefined'){
            data = {
              // id_penyakit: id_penyakit,
              jenis_penyakit: jenis_penyakit,
            }
            this.$.ajax.method = 'POST';
          }else {
            data={
              jenis_penyakit:jenis_penyakit,
            }
            this.$.ajax.method = 'PUT';
            dataUrl += '/' +id_penyakit;
          }
          this.$.ajax.url = dataUrl;
          let json =JSON.stringify(data);
          this.$.ajax.body = json;
          this.$.ajax.generateRequest();
        }


        handleResponse(e){
          if(this.headerID === '0' || typeof this.headerID === 'undefined'){
            window.history.pushState({}, null,'#/penyakit/0');
            window.dispatchEvent(new CustomEvent('location-changed'));
          }
          let data = e.detail.response;
          if(!data){
            return;
          }

          this.$.id_penyakit.value = data.id_penyakit;
          this.$.jenis_penyakit.value = data.jenis_penyakit;
          console.log(this.headerID);

        }

        errorResponse(e){
          let myApp = document.querySelector('my-app');
          let toast = myApp.shadowRoot.querySelector('#toast');
          console.log(myApp);
          console.log(toast);
          let message = e.detail.error.message;
          toast.setAttribute('text', message);
          toast.open();
        }


    _onChange(){
      let id_penyakit = this.shadowRoot.querySelector('#id_penyakit').value;
      this.shadowRoot.querySelector("#outputid_penyakit").innerHTML = id_penyakit;
    }

    _onChangeJenis_penyakit(){
    let jenis_penyakit = this.shadowRoot.querySelector('#jenis_penyakit').value;
    this.shadowRoot.querySelector("#outputjenis_penyakit").innerHTML = jenis_penyakit;
    }

    // _onChangeGender(){
    //   let gender = this.shadowRoot.querySelector('#gender').value;
    //   this.shadowRoot.querySelector("#outputgender").innerHTML = gender;
    // }
    //
    //   _onChangeKelas(){
    //   let kelas = this.shadowRoot.querySelector('#kelas').value;
    //   this.shadowRoot.querySelector("#outputkelas").innerHTML = kelas;
    // }
  }

    window.customElements.define(Myinputpenyakit.is, Myinputpenyakit);
  </script>
</dom-module>
