<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/app-layout/demo/sample-content.html">

<dom-module id="my-informasi">

  <template>

    <style>
      a {
        text-decoration: none;
        font-size: inherit;
        color: inherit;
      }
      .toolbar {
        @apply --layout-horizontal;
        @apply --layout-end-justified;
        background-color: rgba(255, 255, 255, 0.95);
        margin-bottom: 20px;
      }
      .tabs {
        height: 100%;
        @apply --layout-horizontal;
      }
      .tabs > a {
        @apply --layout-vertical;
        @apply --layout-center-center;
        margin: 12px 16px 12px;
        border-bottom: 1px solid #222;
      }

      .container {
        @apply --layout-horizontal;
        max-width: 800px;
        margin: 0 auto;
      }
      .container > * {
        @apply --layout-flex;
      }
      .container img {
        max-width: 100%;
        max-height: 100%;
      }
      .container h3 {
        font-size: 32px;
        font-weight: 300;
        margin: 24px 0;
      }
      .container p {
        line-height: 1.5;
      }
      @media (max-width: 600px) {
        .container {
          @apply --layout-vertical;
        }
      }
      .atap{
        height: 50px;
        text-align:center;
        padding-top:1%;
        font-size:25px;
        font-weight: bold;
        color:#fff;
        background-color:#97A7FE;
        }
    </style>
    <style include="app-grid-style">
      :host {
        --app-grid-columns: 3;
        --app-grid-item-height: 100px;
        --app-grid-gutter: 10px;
      }

      ul {
        padding: 0;
        list-style: none;
      }

      .item {
          height: 250px;
          position: relative;
          background-color: white;
          background-size: cover;
          background-position: center center;
        }

        /* .item:nth-child(5n + 1) {
          height: 30vmax;
          @apply --app-grid-expandible-item;
        } */

        .item-title {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.2);
          color: white;
          font-weight: 400;
          padding: 16px;
        }
      .centered-container {
          margin-top: 40px;
          max-width: 1000px;
          margin: 40px auto;
        }

    </style>

    <app-header-layout>

      <app-header reveals effects="waterfall" slot="header">

        <app-toolbar class="toolbar">
          <div class="tabs">
            <a href="#about">Home</a>
            <a href="#Informasi">Informasi</a>
            <a href="#contact">Diagnosa</a>
            <a href="#contact">Login</a>
            <a href="#contact">Tentang</a>
            <a href="#my-app">Admin</a>
          </div>
        </app-toolbar>
      </app-header>
    </app-header-layout>
<div class="atap">INFORMASI</div>

      <div class="centered-container">
                <ul class="app-grid">
                  <!-- <template is="dom-repeat" items="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"> -->
                    <li class="item" >
                      <div><section id="services">
                        <div class="container">
                          <div>
                            <img src="../images/setting.jpg">
                          </div><br/>
                          <div>
                            <h3>Services</h3>
                            <p>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea. Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.</p>
                          </div>
                        </div>
                      </section>
                      </div>
                    </li>
                  <!-- </template> -->

                  <li class="item" >
                    <div><section id="services">
                      <div class="container">
                        <div>
                          <img src="../images/setting.jpg">
                        </div><br/>
                        <div>
                          <h3>Services</h3>
                          <p>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea. Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.</p>
                        </div>
                      </div>
                    </section>
                    </div>
                  </li>

                  <li class="item" >
                    <div><section id="services">
                      <div class="container">
                        <div>
                          <img src="../images/setting.jpg">
                          <!-- <img src=""> -->
                        </div><br/>
                        <div>
                          <h3>Services</h3>
                          <p>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea. Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.</p>
                        </div>
                        <paper-button on-tap="lihat1" class="button">Lihat Selengkapnya</paper-button>
                      </div>
                    </section>
                    </div>
                  </li>
                </ul>
              </div>
  </template>

  <script>
    Polymer({
      is: 'my-informasi'
    });
  </script>

</dom-module>
