<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-konsul">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        /* padding: 10px; */
      }

      .button{
        background-color:var(--app-accent-color);
        color:white;
      }

      .member{
        width: 100%;
      }

      .horizontal{
          @apply --layout-horizontal;
      }

      .vertical{
        @apply --layout-vertical;
      }
    </style>

    <iron-ajax
      id= "ajax"
      url="api/gejalasakit"
      method="get"
      handle-as="json"
      on-response="handleResponse"
      on-error="errorResponse">
    </iron-ajax>
    <iron-ajax
      id="ajaxKonsul"
      handle-as="json"
      on-response="handleKonsulResponse"
      on-error="errorKonsulResponse">
    </iron-ajax>

    <iron-media-query query="(max-width: 600px)" query-matches="{{mobile}}"></iron-media-query>

    <template is="dom-if" if="{{!mobile}}">
      <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
        <!-- HEADER -->
        <app-header class="header" slot="header" fixed affects="waterfall">
          <app-toolbar>
            <div main-title>Bentuk Gejala</div>
            <!-- <paper-icon-button on-tap="add" icon="add-circle"></paper-icon-button> -->
          </app-toolbar>
          <app-toolbar>
            <div class="horizontal" style="width:100%; font-size: 18px; padding-bottom:10px; border-bottom:1px;">
              <div class="member" style="padding-left:2px; width:25%">No</div>
              <div class="member" style="padding-left:2px; width:50%">Gejala Penyakit</div>
              <div class="member"style="padding-left:2px; width:25%">Pilihan</div>
            </div>
          </app-toolbar>
        </app-header>
        <!-- CONTENT -->
      <div class="content" style="width: 100%;">
        <iron-list items="[[data]]" as="item" class="vertical">
      <template>
          <paper-item>
            <div class="horizontal" style="width:100%; border-bottom: 1px solid rgb(200,200,200); height: 48dp; padding-top: 15px; font-size: 13px;">
              <!-- <div class="member"style="padding-left:2px; width:25%">[[item.id_gejala]]</div> -->
              <div class="member"style="padding-left:2px; width:50%; text-align:left;">[[item.gejala_penyakit]]</div>
                  <paper-checkbox class="gejalakonsul" id="id_gejala" value$="[[item.cf_pakar]]" ></paper-checkbox>
            </div>
          </paper-item>
      </template>
    </iron-list><br>
    <paper-button on-tap="_submit" class="button">Submit</paper-button>
  </div>
  </app-header-layout>
    </template>
    <!-- </template> -->

    <template is="dom-if" if="{{mobile}}">
      <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
        <!-- HEADER -->
        <app-header class="header" slot="header" fixed affects="waterfall">
          <app-toolbar>
            <paper-icon-button on-tap="menu" icon="menu"></paper-icon-button>
            <div main-title>Bentuk Gejala</div>
          </app-toolbar>
        </app-header>

      <div class="content">
        <iron-list items="[[data]]" as="item" class="vertical">
      <template>
        <!-- <a href="#/gejalasakit/[[item.id_gejala]]" tabindex="-1"> -->
          <!-- <paper-item class="horizontal"> -->
          <paper-item>
            <paper-item-body two-line>
            <div>[[item.id_gejala]]</div>
            <div>[[item.gejala_penyakit]]
              <paper-checkbox></paper-checkbox>
            </div>
          </paper-item-body><br>
          </paper-item>
        <!-- </a> -->
      </template>
    </iron-list>
  </div>
  </app-header-layout>
    </template>


</template>

  <script>
    class MyKonsul extends Polymer.Element {
      static get is() {
        return 'my-konsul';
      }
      static get properties() {
        return {
          data:Object,
          route:{
            type:Object,
            observer:'_reload',
          },
          id_gejala:{
            type: String,
            notify: true
          },
          gejala_penyakit:{
            type: String,
            notify: true
          },
        }
      }


      _reload(e){
          let path = e.path;
          let data = path.split('/');
          console.log(data);
          if(data[0] === ''){
            this.$.ajax.generateRequest();
          return;
          }
          this.$.ajax.generateRequest();
        }

        _submit(e){
          console.log(this.shadowRoot.querySelector(".gejalakonsul"));
          // let pilihan = this.$.pilihan.value;
          // let dataUrl = 'api/riwayat';
          // let data ={};
          // if(this.headerID == "0"  || typeof this.headerID ==='undefined'){
          //   data = {
          //     pilihan:pilihan,
          //   }
          //   this.$.ajax.method = 'POST';
          // }else {
          //   data={
          //     pilihan:pilihan,
          //   }
          //   this.$.ajax.method = 'PUT';
          //   dataUrl += '/' +this.headerID;
          // }
          // this.$.ajax.url = dataUrl;
          // let json =JSON.stringify(data);
          // this.$.ajax.body = json;
          // this.$.ajax.generateRequest();
        }


      menu(){
        let myapp = document.querySelector('my-app');
        let drawer = myapp.shadowRoot.querySelector('#drawer');
        drawer.open();
      }

      handleResponse(e){
        this.data = e.detail.response;
        console.log(this.data);
      }

      handleKonsulResponse(e){
        let data = e.detail.response;
        if(!data){
          return;
        }
        let result = [];
        for(let i=0; i<data.length; i++){

          result[i]= {id: data[i]["id_penyakit"],title: data[i]["jenis_penyakit"]};

        }
        console.log(result);
        this.penyakit= result;
      }

      errorResponse(e){
        console.log(e);
      }

    }

    window.customElements.define(MyKonsul.is, MyKonsul);
  </script>
</dom-module>
