<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/app-layout/demo/sample-content.html">

<dom-module id="my-tentang">

  <template>

    <style>
      a {
        text-decoration: none;
        font-size: inherit;
        color: inherit;
      }
      .toolbar {
        @apply --layout-horizontal;
        @apply --layout-end-justified;
        background-color: rgba(255, 255, 255, 0.95);
        margin-bottom: 20px;
      }
      .tabs {
        height: 100%;
        @apply --layout-horizontal;
      }
      .tabs > a {
        @apply --layout-vertical;
        @apply --layout-center-center;
        margin: 12px 16px 12px;
        border-bottom: 1px solid #222;
      }

      .container {
        @apply --layout-horizontal;
        max-width: 800px;
        margin: 0 auto;
      }
      .container > * {
        @apply --layout-flex;
      }
      .container img {
        max-width: 100%;
        max-height: 100%;
      }
      .container h3 {
        font-size: 32px;
        font-weight: 300;
        margin: 24px 0;
      }
      .container p {
        line-height: 1.5;
      }
      @media (max-width: 600px) {
        .container {
          @apply --layout-vertical;
        }
      }
      .atap{
        height: 50px;
        text-align:center;
        padding-top:1%;
        font-size:25px;
        font-weight: bold;
        color:#fff;
        background-color:#97A7FE;
        }

    </style>

    <app-header-layout>

      <app-header reveals effects="waterfall" slot="header">

        <app-toolbar class="toolbar">
          <div class="tabs">
            <a href="#about">Home</a>
            <a href="#Informasi">Informasi</a>
            <a href="#contact">Diagnosa</a>
            <a href="#contact">Login</a>
            <a href="#contact">Tentang</a>
            <a href="#my-app">Admin</a>
          </div>
        </app-toolbar>
      </app-header>
    </app-header-layout>
      <div class="atap">Konsultasi</div>
      <div class="container">

      </div>

  </template>

  <script>
    Polymer({
      is: 'my-tentang'
    });
  </script>
</dom-module>
