<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/vaadin-dropdown-menu/vaadin-dropdown-menu.html">
<link rel="import" href="../bower_components/vaadin-list-box/vaadin-list-box.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      header {
        height: calc(100vh - 64px);
        background-image: url("../images/2018_08_15_8.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        color: rgb(234, 245, 241);
        background-position: center;
        display: block;
        align-items: center;
        justify-content: center;
      }
      .box{
        @apply --layout-vertical;
        @apply --layout-center-center;
        width: 100%;
        height: 100%;
        background-color: rgba(192, 187, 187, 0.103);
        display: flex;
        /* text-align: center; */
        align-items: center;
        -webkit-backdrop-filter: drop-shadow(80%) blur(6px);
        backdrop-filter: drop-shadow(80%) blur(6px);
        position: relative;
      }
      .container h2 {
      color: black ;
      font-weight: bold;
      font-size: 16px;
      margin: 24px 0;
      text-align: center;
      padding-left: 5%;
      padding-right: 5%;
    }
      form {
        max-width: 300px;
        margin: auto;
        padding: 2em 2em 2em 2em;
        background: #fafafa;
        display: block;
        border: 1px solid #ebebeb;
        box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
      }
      vaadin-text-field{
        padding-left: 20px;
        width: 87%;
      }
      vaadin-dropdown-menu{
        padding-left: 20px;
        width: 87%;
      }
      vaadin-password-field{
        padding-left: 20px;
        width: 87%;
      }
      p {
        color: rgb(68, 71, 71);
        line-height: 1.5;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 13px;
        color: rgb(105, 107, 107);
      }
      .button{
        background-color:var(--app-accent-color);
        color:white;

      }

    </style>
    <header>
      <div class="box">
      <form>
        <center><h2 style="color:var(--app-accent-color); font-weight:bold; ">Login</h2></center>
        <paper-input id="username" label="&ensp;Username">
          <iron-icon icon="icons:perm-identity" slot="prefix" style="color:var(--app-accent-color);"></iron-icon>
        </paper-input>
        <paper-input id= "password" label="&ensp;Password" type="password">
          <iron-icon icon="icons:lock" slot="prefix" style="color:var(--app-accent-color);"></iron-icon>
        </paper-input><br>
        <vaadin-dropdown-menu label="Lever User" placeholder="--Pilih level user--">
            <template>
              <vaadin-list-box>
                <vaadin-item>Balita</vaadin-item>
                <vaadin-item>Kader</vaadin-item>
              </vaadin-list-box>
            </template>
          </vaadin-dropdown-menu></br></br>
          <div align="center">
          <paper-button on-tap="masuk" class="button">MASUK</paper-button>
          <p>Belum punya akun?<paper-button on-tap="Daftar" style="color:var(--app-accent-color); font-weight:bold; font-size:14px">DAFTAR</paper-button>
          </p>
        </div>
        </div>
     </form>
    </div>
    </header>
    </template>

  <script>
    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }
      masuk() {
        window.history.pushState({}, null, '#/user');
        window.dispatchEvent(new CustomEvent('location-changed'));
      }
      daftar() {
        window.history.pushState({}, null, '#/daftar/0');
        window.dispatchEvent(new CustomEvent('location-changed'));
      }
    }
    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>
