<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">


<link rel="import" href="shared-styles.html">

<dom-module id="my-usertb">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        /* padding: 10px; */
      }

      .button{
        background-color:var(--app-primary-color);
        color:black;

      }

      .member{
        width: 100%;
      }

      .horizontal{
          @apply --layout-horizontal;
      }

      .vertical{
        @apply --layout-vertical;
      }
      .toolbarsatu{
        background-color: #1e2864;
        /* background-image: url(../img/ka.jpg); */
        /* padding-bottom: 15px; */
      }
      app-toolbar{
        padding-top: 10px;
      }
    </style>

    <iron-ajax
      id= "ajax"
      url="/api/usertb"
      method="get"
      handle-as="json"
      on-response="handleResponse"
      on-error="errorResponse">
    </iron-ajax>

    <iron-media-query query="(max-width: 600px)" query-matches="{{mobile}}"></iron-media-query>

    <template is="dom-if" if="{{!mobile}}">
      <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
        <!-- HEADER -->
        <app-header class="header" slot="header" fixed affects="waterfall">
          <app-toolbar class="toolbarsatu">
            <div main-title>Daftar User</div>
            <br></br>
            <paper-icon-button on-tap="add" icon="add-circle"></paper-icon-button>
          </app-toolbar>
          <app-toolbar>
            <div class="horizontal" style="width:100%; font-size: 18px; padding-bottom:10px; border-bottom:1px;">
              <div class="member" style="padding-left:2px; width:25%">No</div>
              <div class="member">Nama</div>
              <div class="member">Email</div>
              <div class="member"style="padding-left:2px; width:25%">Jenis Kelamin</div>
              <div class="member">Tanggal Lahir</div>
              <div class="member">Username</div>
              <div class="member">Password</div>
            </div>
          </app-toolbar>
        </app-header>
        <!-- CONTENT -->
      <div class="content" style="width: 100%;">
        <iron-list items="[[data]]" as="item" class="vertical">
      <template>
        <a href="#/inputusertb/[[item.id_user]]" tabindex="-1">
          <paper-item>
            <div class="horizontal" style="width:100%; border-bottom: 1px solid rgb(200,200,200); height: 48dp; padding-top: 15px; font-size: 13px;">
              <div class="member"style="padding-left:2px; width:25%">[[item.id_user]]</div>
              <div class="member">[[item.nama]]</div>
              <div class="member">[[item.email]]</div>
              <div class="member"style="padding-left:2px; width:25%">[[item.j_kelamin]]</div>
              <div class="member">[[_convert(item.t_lahir)]]</div>
              <div class="member">[[item.username]]</div>
              <div class="member">[[item.password]]</div>
            </div>
          </paper-item>
        </a>
      </template>
    </iron-list>
  </div>
  </app-header-layout>
    </template>
    <!-- </template> -->

    <template is="dom-if" if="{{mobile}}">
      <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
        <!-- HEADER -->
        <app-header class="header" slot="header" fixed affects="waterfall">
          <app-toolbar>
            <paper-icon-button on-tap="menu" icon="menu"></paper-icon-button>
            <div main-title>Daftar User</div>
          </app-toolbar>
        </app-header>

      <div class="content">
        <iron-list items="[[data]]" as="item" class="vertical">
      <template>
        <a href="#/inputusertb/[[item.id_user]]" tabindex="-1">
          <!-- <paper-item class="horizontal"> -->
          <paper-item>
            <paper-item-body two-line>
            <div>[[item.id_user]]</div>
            <div>[[item.nama]]</div>
            <div>[[item.email]]</div>
            <div>[[item.j_kelamin]]</div>
            <div>[[item.t_lahir]]</div>
            <div>[[item.username]]</div>
            <div>[[item.password]]</div>
          </paper-item-body>
          </paper-item>
        </a>
      </template>
    </iron-list>
  </div>
  </app-header-layout>
    </template>


</template>

  <script>
    class MyUsertb extends Polymer.Element {
      static get is() {
        return 'my-usertb';
      }
        static get properties() {
          return {
            data:Object,
            route:{
              type:Object,
              observer:'_reload',
            },
            id_user:{
              type: String,
              notify: true
            },
            nama:{
              type: String,
              notify: true
            },
            email:{
              type: String,
              notify: true
            },
            t_lahir:{
              type: String,
              notify: true
            },
            j_kelamin:{
              type: String,
              notify: true
            },
            username:{
              type: String,
              notify: true
            },
            password:{
              type: String,
              notify: true
            },
      }
      }

      _reload(e){
        console.log(e);
        let path = e.path;
        let data= path.split('/');
        if(data[1] !== "usertb"){
          return;
        }
        this.$.ajax.generateRequest();
      }

      _convert(date){
        let t_lahir=date.split("T");
        // console.log(tanggal);
        let change=t_lahir[0].split("-");
        console.log(change);
        return change[2]+"-"+change[1]+"-"+change[0];
      }

      add(){
        window.history.pushState({}, null, '#/inputusertb/0');
        window.dispatchEvent(new CustomEvent('location-changed'));
      }

      menu(){
        let myapp = document.querySelector('my-app');
        let drawer = myapp.shadowRoot.querySelector('#drawer');
        drawer.open();
      }

      handleResponse(e){
        this.data = e.detail.response;
        console.log(this.data);
      }

      errorResponse(e){
        console.log(e);
      }

    }

    window.customElements.define(MyUsertb.is, MyUsertb);
  </script>
</dom-module>
