<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="bower_components/app-layout/demo/sample-content.html"> -->
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/vaadin-dropdown-menu/vaadin-dropdown-menu.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<!-- <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html"> -->
<!-- <link rel="import" href="bower_components/iron-icons/iron-icons.html"> -->
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">

<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-home.html">
<link rel="lazy-import" href="my-info.html">
<link rel="lazy-import" href="my-infodetail.html">
<link rel="lazy-import" href="my-login.html">
<link rel="lazy-import" href="my-daftar.html">
<link rel="lazy-import" href="my-konsultasi.html">
<link rel="lazy-import" href="my-hasilkonsul.html">
<link rel="lazy-import" href="my-riwayat.html">
<link rel="lazy-import" href="my-tentang.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="my-app">
  <template>
    <style include="shared-styles">
      :host {
        --app-primary-color: #303F9F;
        --app-primary-dark-color: #303F9F;
        --app-light-primary-color: #C5CAE9;
        --app-accent-color: #536DFE;
        --app-primary-color-kedua: #3F51B5;
        --app-secondary-color: #fff;
        --app-third-color: #3F51B5;

        display: block;
      }
      iron-pages{
        background: #fff;
      }
      app-header{
        background-color: white;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
        z-index: 99;
      }

      app-drawer {
        --app-drawer-content-container:{
          /* background-color:#344955; */
          background-color:#17252A;
        };
      }
      .toolbar {
        @apply --layout-horizontal;
        /* @apply --layout-end-justified; */
        /* width: 100%; */
        background-color: #fff;
        /* background-color: #ffffff; */
      }
      .tabs {
        right: 0px;
        position: absolute;
        bottom:9px;
        @apply --layout-horizontal;

      }
      a {
        width: 100%;
        float: right;
        display: block;
        text-decoration: none;
        @apply --layout-vertical;
        @apply --layout-center-center;
        margin: 12px 16px 12px;
        color: black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 75%;
      }
      a:hover{
        color:#536DFE;
        border-bottom: 2px solid #1976D2 ;
      }
      .start-justified{
        @apply --layout-start-justified;
      }
      /* @media screen and (max-width: 600px) {
      .tabs >a {
        float: none;
        width: 100%;
      } */
      .footer{
        @apply --layout-vertical;
        @apply --layout-center-center;
        height: calc(20vh - 20px);
        background-color: #647cfe;
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        /* -webkit-backdrop-filter: drop-shadow(100%) blur(5px);
        backdrop-filter: drop-shadow(100%) blur(5px); */
        position: relative;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      }
      .footer > h2 {
        font-size: 15px;
        font-weight: 300;
        margin: 0;
      }
      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 20px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 50px;
        /* font-weight: bold; */
      }
      .drawer-list a.iron-selected {
        /* color: rgb(251, 250, 252); */
        font-weight: bold;
        color:#3AAFA9;
        background-color:#1F3238;
      }
      header {
        @apply --layout-vertical;
        @apply --layout-center-center;
        height: calc(100vh - 64px);
        padding: 0 16px;
        background-image: url('//app-layout-assets.appspot.com/assets/landing-page/glass_explorer_food_2.png');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        text-align: center;
      }
    </style>

    <iron-media-query
      query="(max-width: 560px)"
      query-matches="{{mobile}}">
    </iron-media-query>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]"
        use-hash-as-path>
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-header-layout>

    <template is="dom-if" if="{{!mobile}}">
      <app-header reveals effects="waterfall" slot="header" id="header">
        <app-toolbar class="toolbar">
            <div class="start-justified">
              <iron-selector selected="[[page]]" attr-for-selected="name">
              <div class="tabs"style: right:20px; >
              <a name="home" href="[[rootPath]]#/home">BERANDA</a>
              <a name="info" href="[[rootPath]]#/info">INFORMASI</a>
              <a name="login" href="[[rootPath]]#/login">LOGIN</a>
              <a name="tentang" href="[[rootPath]]#/tentang">TENTANG</a>
              <a name="konsultasi" href="[[rootPath]]#/konsultasi">KONSULTASI</a>
              <a name="riwayat" href="[[rootPath]]#/riwayat">RIWAYAT</a>
            </div>
            </iron-selector>
        </app-toolbar>
      </app-header>
    </template>

    <template is="dom-if" if="{{mobile}}">
      <app-header reveals effects="waterfall" slot="header" id="header">
        <app-toolbar class="toolbar">
            <div class="start-justified">
              <img style="width:177.07px" src=""></div>
              <iron-selector selected="[[page]]" attr-for-selected="name">
              <div class="tabs" >
                <!-- <button id="button" on-click="toggle">MENU</button> -->
                  <iron-collapse>
                      <div class="collapse-content">
                        <!-- <div><a name="home" href="[[rootPath]]#/home">BERANDA</a></div> -->
                        <a name="home" href="[[rootPath]]#/home">BERANDA</a>
                        <a name="info" href="[[rootPath]]#/info">INFORMASI</a>
                        <a name="login" href="[[rootPath]]#/login">LOGIN</a>
                        <a name="tentang" href="[[rootPath]]#/tentang">TENTANG</a>
                        <a name="konsultasi" href="[[rootPath]]#/konsultasi">KONSULTASI</a>
                        <a name="riwayat" href="[[rootPath]]#/riwayat">RIWAYAT</a>
                      </div>
                    </iron-collapse>
                  </div>
            </iron-selector>
        </app-toolbar>
      </app-header>
    </template>


    <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
            <my-home name="home"></my-home>
            <my-info name="info"route="[[route]]"></my-info>
            <my-infodetail name="infodetail" judul="{{judul}}" isi="{{isi}}" sumber="{{sumber}}" route="[[route]]"></my-infodetail>
            <my-login name="login" ></my-login>
            <my-daftar name="daftar"></my-daftar>
            <my-konsultasi name="konsultasi" route="[[route]]"></my-konsultasi>
            <my-hasilkonsul name="hasilkonsul" route="[[route]]"></my-hasilkonsul>
            <my-riwayat name="riwayat" route="[[route]]"></my-riwayat>
            <my-tentang name="tentang" no="{{no}}" nama="{{nama}}" isi="{{isi}}" route="[[route]]"></my-tentang>
            <my-view404 name="view404"></my-view404>
    </iron-pages>
   </app-header-layout>
   <paper-toast id="toast"></paper-toast>

   <div class="footer">
      <h2>Build with Polymer</h2>
      <h2> &copy; 2018 Latifah Damayanti</h2>
    </div>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          id:String,
          nama:String,
          isi:String,
          tanggal: String,
          kepada:String,
          judul: String,
          isi: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'home';

        // if (!this.$.header.persistent) {
        //   this.$.header.close();
        // }
      }

      toggle(){
      this.$.collapse.toggle();
      this.$.button.setAttribute('aria-expanded', this.$.collapse.opened);
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
