<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html"> -->
<!-- <link rel="import" href="bower_components/iron-icons/iron-icons.html"> -->
<!-- <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html"> -->
<!-- <link rel="import" href="bower_components/app-layout/app-scroll-effects/app-scroll-effects.html"> -->
<!-- <link rel="import" href="bower_components/l2t-paper-slider/l2t-paper-slider.html">
<!-- <link rel="import" href="bower_components/app-layout/demo/sample-content.html"> -->
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-home">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        height: 100%;
      }
        header {
        height: calc(85vh - 64px);
        background-image: url("../images/header22.png");
        background-repeat: no-repeat;
        background-size:cover;
        color: rgb(234, 245, 241);
        background-position: center;
        display: block;
        align-items: center;
        justify-content: center;
      }
      .box{
        @apply --layout-vertical;
        @apply --layout-center-center;
        width: 100%;
        height: 100%;
        background-color: rgba(141, 140, 140, 0.199);
        display: flex;
        text-align: center;
        align-items: center;
        -webkit-backdrop-filter: drop-shadow(90%) blur(60px);
        backdrop-filter: drop-shadow(90%) blur(60px);
        position: relative;
        font-family: "Lobster", serif;
      }
      .box > h2 {
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 18px;
        margin: 0;
        background-color: #A5BFE9;
      }
      .box > h3 {
        /* font-size: 50px; */
        /* font-weight: 300; */
        /* letter-spacing: 18px; */
        margin: 0;
        background-color: #A5BFE9;
      }
      .midle{
        @apply --layout-vertical;
        @apply --layout-center-center;
        background-image: url("../images/banner2.png");
        background-repeat: no-repeat;
        background-size:cover;
        height: calc(80vh - 30px);
        background-color: rgb(29, 31, 31);
        /* color: white; */
        display: flex;
        text-align: center;
        align-items: center;
        position: relative;
      }
      .midle > h2 {
        font-size: 20px;
        font-weight: 300;
        margin: 0;
      }

      paper-card{
        border: 1px solid #9E9E9E;
      }

      section {
        padding: 30px;
      }
      .container {
        @apply --layout-vertical;
        max-width: 800px;
        margin: 0 auto;
      }
      .container > * {
        @apply --layout-flex;
      }
      .container img {
        max-width: 50%;
        max-height: 100%;
      }
      .container h3 {
        color: #647cfe ;
        font-weight: bold;
        font-size: 24px;
        /* font-weight: 300; */
        margin: 24px 0;
      }
      .container h4 {
        color: rgb(224, 62, 21) ;
        font-weight: bold;
        font-size: 22px;
        font-weight: 400;
        margin: 24px 0;
      }
      .container p {
        color: rgb(68, 71, 71);
        line-height: 1.5;
        text-align: justify;
      }
      .size{
        max-width: 100%;
      }
      @media (max-width: 600px) {
        .container {
          @apply --layout-vertical;
        }
      }
      .button {
        border-color: rgb(60, 187, 187);
        color: rgb(60, 187, 187);
      }
      hr.style13 {
        height: 5px;
        border: 0;
        margin: 24px 0;
        max-width: 100%;
        box-shadow: inset 0 9px 9px -9px #3AAFA9;
      }
      .horizontal{
        @apply --layout-horizontal;
        margin: 10px;
        /* border-top: 3px solid gray;
        border-left: 3px solid gray;
        border-right: 3px solid gray;
        border-bottom: 3px solid gray; */
      }
      paper-card{
        /* padding: 20px; */
        border: 2px solid #9E9E9E;
      }
    </style>
    <style include="app-grid-style">
      :host {
        --app-grid-columns: 3;
        --app-grid-item-height: 100px;
        --app-grid-gutter: 10px;
      }

      ul {
        padding: 0;
        list-style: none;
      }

      .centered-container {
          margin-top: 40px;
          max-width: 1000px;
          margin: 30px auto;
        }
    </style>

    <header>
      <div class="box">
          <h2>SELAMAT DATANG</h2><br>
          <h3> SISTEM PAKAR DIAGNOSA PENYAKIT KULIT</h3>
      </div>
      </header>

      <div class="centered-container">

                <div class="horizontal" style="font-size: 12px">

                  <div style="width:30%; text-align: justify; background-color: #E6E6E6;padding:20px;">

                    <center><img style="height: 128px; width:128px" src="../images/buku.png"></center>
                      <p>Website ini memiliki menu Informasi yang menampilkan beberapa jenis penyakit kulit. Bila memilih salah satu jenis penyakit maka akan menampilkan informasi dan solusi mengenai penyakit tersebut.</p>
                  </div>
                    <div style="width:5%"></div>
                  <div style="width:30%; text-align: justify;background-color: #E6E6E6;padding:20px;">
                    <center><img style="height: 105px; width:105px" src="../images/ks1.png"></center>
                      <p>Untuk melakukan konsultasi anda dapat memilih gejala yang di alami oleh anak. Website ini tidak menghilangkan peran seorang dokter, apabila membutuhkan tindakan lebih lanjut disarankan berkonsultasi dengan dokter.</p>
                  </div>
                  <div style="width:5%"></div>
                  <div style="width:30%;text-align: justify;background-color: #E6E6E6;padding:20px;">
                    <center><img style="height: 128px; width:128px" src="../images/infotp3.png"></center>
                      <p>Anda dapat melihat deskripsi singkat di menu Tentang seperti bantuan mengenai konsultasi, deskripsi website sistem pakar dan kontak pembuat</p>
                  </div>
                </div>
              </div>

    </template>
  <script>

    class MyHome extends Polymer.Element {
      static get is() { return 'my-home';
      }

  }

    window.customElements.define(MyHome.is, MyHome);
  </script>
</dom-module>
