<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<link rel="import" href="shared-styles.html">

<dom-module id="my-infodetail">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 5px;
      }
      .container {
        @apply --layout-vertical;
        max-width: 100%;
        margin: 0 auto;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        line-height: 1.5;
        word-wrap: break-word;
      }
      .container > * {
        @apply --layout-flex;
      }
      section {
        padding: 30px;
      }

      @media (max-width: 600px) {
        .container {
          @apply --layout-vertical;
        }
      }

      .horizontal {
        @apply --layout-vertical;
      }
      paper-card{
        padding: 20px;
      }
      app-toolbar{
        font-size: 28px;
        border-radius: 12px;
        text-align:center;
        background-color: #EB6E46;
        color: black;
      }
      .member{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;

      }
      .atap{
        height: 50px;
        text-align:center;
        padding-top:1%;
        font-size:25px;
        font-weight: bold;
        color:#fff;
        background-color:#97A7FE;
        }
    </style>

    <iron-ajax
    id="ajax"
    handle-as="json"
    on-response="handleResponse"
    on-error="errorResponse">
    </iron-ajax>
<hr>

        <paper-item>
          <div class="horizontal" style="max-width:95%; height:60dp; padding:20px; font-size:18px">
            <paper-card>
              <app-toolbar>
                  <div main-title id="judul"></div>
              </app-toolbar></br>
            <!-- <div class="member" style="padding:15px; width:100%">Ditujukkan untuk <label id="sumber"></label></div> -->
            <div class="member" style="padding:15px; width:95%"><p id="isi"></p></div>
            <div class="member" style="padding-left:15px; width:100%">Sumber <label id="sumber"></label></div>
          </paper-card>
          </div>
        </paper-item>
      </template>

  <script>
    class MyInfodetail extends Polymer.Element {
      static get is() {
        return 'my-infodetail';
      }
      static get properties(){
        return {
          data:Object,
          route:{
            type:Object,
            observer:'_reload'
          },
          id:{
            type: String,
            notify: true
          },
          id_info:{
            type: String,
            notify: true
          },
          tanggal:{
            type: String,
            notify: true
          },
          judul:{
            type: String,
            notify: true
          },
          isi:{
            type: String,
            notify: true
          },
          sumber:{
            type: String,
            notify: true
          },
        }
      }

      _reload(e){
        let path = e.path;
        let data = path.split('/');
        if(data[1] !== 'infodetail'){
          return;
        }
        if(data[2]){
          let urlData = '/api/info/'+data[2];
          this.$.ajax.url = urlData;
          this.$.ajax.method = 'GET';
          this.$.ajax.generateRequest();
          this.headerID = data[2];
        }
        console.log(data)
      }


      handleResponse(e){
        let data = e.detail.response;
          if(this.headerID==0){
            this.$.id_info.value = '';
            this.$.tanggal.value = '';
            this.$.judul.value = '';
            this.$.isi.value = '';
            this.$.sumber.value = '';
            return;
          }
          if(!data){
            return;
          }
          // this.$.id.value= data.id;
          // this.$.tanggal.innerHTML= data.tanggal.substring(0,10);
          this.$.judul.innerHTML= data.judul;
          this.$.isi.innerHTML= data.isi;
          this.$.sumber.innerHTML= data.sumber;
      }

      errorResponse (e){
        let myApp = document.querySelector('my-app');
        let toast = myApp.shadowRoot.querySelector('#toast');
        let message = e.detail.error.message;
        toast.setAttribute('text',message);
        toast.open();
      }
    }
    window.customElements.define(MyInfodetail.is, MyInfodetail);
  </script>
</dom-module>
