<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-info">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      .info{
        text-align:center;
        padding-top:2%;
        font-size:30px;
        font-weight: bold;
        color:#3AAFA9;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
      .container {
        @apply --layout-vertical;
        max-width: 100%;
        margin: 0 auto;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        line-height: 1.5;
        word-wrap: break-word;
      }
      .container > * {
        @apply --layout-flex;
      }
      section {
        padding: 30px;
      }
      .container img {
        padding-top: 2%;
        max-width: 70%;
        max-height: 100%;
        align-content: center;
      }
      .container h3 {
        color: rgb(104, 107, 107) ;
        font-weight: bold;
        font-size: 22px;
        margin: 24px 0;
        padding-left: 10%;
        padding-right: 10%;
      }
      .container p {
        color: rgb(68, 71, 71);
        line-height: 1.5;
        text-align: justify;
        padding-left: 10%;
        padding-right: 10%;
      }
      @media (max-width: 600px) {
        .container {
          @apply --layout-vertical;
        }
      }
      hr.style13 {
        border-top: 5px solid #3AAFA9;
        margin: 20px auto;
        width: 150px;
        box-shadow: inset 0 9px 9px -9px #3AAFA9;
      }
      .horizontal {
        @apply --layout-vertical;
      }
      paper-card{
        padding: 10px;
        /* border: 2px solid #9E9E9E; */
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 45px;
      }
      app-toolbar{
        background-color:#EB6E46;
        border-bottom: 2px solid gray;
        font-size: 28px; */
      }
      .member{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        background-color: #F5F5F5;
      }
      paper-button > a {
        font-weight: bold;
        color: black;
        text-decoration: none;
      }
      .atap{
        height: 50px;
        text-align:center;
        padding-top:1%;
        font-size:25px;
        font-weight: bold;
        color:#fff;
        background-color:#97A7FE;
        }
        .button {
        background-color: white;
        color: black;
        border: 2px solid #febb97;
        }
        .button:hover {
        background-color: #febb97;
        color: white;
        }
    </style>

    <iron-ajax
      id="ajax"
      url="/api/info"
      method="get"
      handle-as="json"
      on-response="handleResponse"
      on-error="errorResponse">
    </iron-ajax>
    <div class="atap">INFORMASI</div>
      <iron-list items="[[data]]" as="item" class="vertical">

          <template>
              <paper-item>
                <div class="horizontal" style="max-width:95%; height:60dp; padding:20px; font-size:13px">
                  <paper-card>
                    <app-toolbar>
                      <div main-title>[[item.judul]]</div>
                    </app-toolbar></br>

                  <div class="member" style="padding:15px; width:95%">[[info(item.isi)]]
                  <br><br>
                  <paper-button class="button">
                      <a href="#/infodetail/[[item.id_info]]" tabindex="-1">Selengkapnya</a>
                  </paper-button></br></br>
                  </div>
                  <hr>
                </paper-card>
                </div>
              </paper-item>

          </template>
        </iron-list>
      </div>
      </template>

  <script>
    class MyInfo extends Polymer.Element {
      static get is() { return 'my-info';
      }
      static get properties(){
        return {
          data:Object,
          route:{
            type:Object,
            observer:'_reload'
          },
          id_info:{
            type: String,
            notify: true
          },
          judul:{
            type: String,
            notify: true
          },
          isi:{
            type: String,
            notify: true
          },
        }
      }


      info(info){
        let isi=info;
        let change=isi.substring(0,300);
        // console.log(change);
        return change + "...";
      }

      _reload(e){
        let path = e.path;
        let data = path.split('/');
        console.log(data);
        if(data[0] === ''){
          this.$.ajax.generateRequest();
        return;
        }
        if(data[1] !== 'info'){
          return;
        }
        // this.$.ajax.generateRequest();
      }

      errorResponse (e){
      }
      handleResponse(e){
        this.data = e.detail.response;
      }
    }
    window.customElements.define(MyInfo.is, MyInfo);
  </script>
</dom-module>
