<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-konsultasi">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        height: 100%;
        /* padding: 10px; */
      }

      .button{
        background-color:var(--app-accent-color);
        color:white;
        padding: 14px 40px;
      }

      .member{
        width: 100%;
      }

      .horizontal{
          @apply --layout-horizontal;
      }

      .vertical{
        @apply --layout-vertical;
      }
      .atap{
        height: 50px;
        text-align:center;
        padding-top:1%;
        font-size:25px;
        font-weight: bold;
        color:#fff;
        background-color:#97A7FE;
        }
        .container{
          margin:50px;
        }
    </style>

    <iron-ajax
      id= "ajax"
      url="api/gejalasakit"
      method="get"
      handle-as="json"
      on-response="handleResponse"
      on-error="errorResponse">
    </iron-ajax>
    <iron-ajax
      id="ajaxKonsultasi"
      handle-as="json"
      on-response="handleKonsultasiResponse"
      on-error="errorKonsultasiResponse">
    </iron-ajax>
    <div class="atap">KONSULTASI</div>
    <iron-media-query query="(max-width: 600px)" query-matches="{{mobile}}"></iron-media-query>
    <template is="dom-if" if="{{!mobile}}">
      <!-- <app-header-layout has-scrolling-region style="width:100%; height:100vh;"> -->
        <!-- HEADER -->
        <div class="container" style="width:75%">
        <app-header class="header" slot="header" fixed affects="waterfall">
          <app-toolbar>
            <p>Centang gejala yang timbul pada anak (<iron-icon icon="icons:check" item-icon></iron-icon>)</p>
          </app-toolbar>
          <app-toolbar>
            <div class="horizontal" style="width:100%; font-size: 18px; padding-bottom:10px; border-bottom:1px;">
              <div class="member" style="padding-left:2px; width:25%">No</div>
              <div class="member" style="padding-left:2px; width:50%">Gejala Penyakit</div>
              <div class="member"style="padding-left:2px; width:25%">Pilihan</div>
            </div>
          </app-toolbar>
        </app-header>
        <!-- CONTENT -->
      <div class="content" style="width: 100%;">
        <iron-list items="[[data]]" as="item" class="vertical">
      <template>
          <paper-item>
            <div class="horizontal" style="width:100%; border-bottom: 1px solid rgb(200,200,200); height: 48dp; padding-top: 15px; font-size: 13px;">
              <!-- <div class="member"style="padding-left:2px; width:25%">[[item.id_gejala]]</div> -->
              <div class="member"style="padding-left:2px; width:25%; text-align:left;">[[_addIndex(index)]].</div>
              <div class="member"style="padding-left:2px; width:50%; text-align:left;">[[item.gejala_penyakit]]</div>
              <paper-checkbox class="gejalakonsul" id="id[[item.id_gejala]]" name="[[item.gejala_penyakit]]" idpenyakit$="[[item.id_penyakit]]" value$="[[item.cf_pakar]]" ></paper-checkbox>
              <!-- <label id="di[[item.id_gejala]]" name="[[item.id_penyakit]]"></label> -->
            </div>
          </paper-item>
      </template>
    </iron-list><br>
    <paper-button on-tap="_submit" class="button">Submit</paper-button>
  </div>
  <!-- </app-header-layout> -->
</div>
    </template>
    <!-- </template> -->

    <template is="dom-if" if="{{mobile}}">
      <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
        <!-- HEADER -->
        <app-header class="header" slot="header" fixed affects="waterfall">
          <app-toolbar>
            <paper-icon-button on-tap="menu" icon="menu"></paper-icon-button>
            <div main-title>Bentuk Gejala</div>
          </app-toolbar>
        </app-header>

      <div class="content">
        <iron-list items="[[data]]" as="item" class="vertical">
      <template>
        <!-- <a href="#/gejalasakit/[[item.id_gejala]]" tabindex="-1"> -->
          <!-- <paper-item class="horizontal"> -->
          <paper-item>
            <paper-item-body two-line>
            <div>[[item.id_gejala]]</div>
            <div>[[item.gejala_penyakit]]
              <paper-checkbox></paper-checkbox>
            </div>
          </paper-item-body><br>
          </paper-item>
        <!-- </a> -->
      </template>
    </iron-list>
  </div>
  </app-header-layout>
    </template>


</template>

  <script>
    class MyKonsultasi extends Polymer.Element {
      static get is() {
        return 'my-konsultasi';
      }
      static get properties() {
        return {
          data:Object,
          route:{
            type:Object,
            observer:'_reload',
          },
          id_gejala:{
            type: String,
            notify: true
          },
          id_penyakit:{
            type: Number,
            notify: true
          },
          gejala_penyakit:{
            type: String,
            notify: true
          },
          cf_pakar:{
            type : Number,
            notify :true
          },
        }
      }

      _addIndex(i){
        // console.log(i);
        let a = parseInt(i);
        return a  + 1;
      }


      _reload(e){
          let path = e.path;
          let data = path.split('/');
          // console.log(data);
          if(data[0] === ''){
            this.$.ajax.generateRequest();
          return;
          }
          this.$.ajax.generateRequest();
        }

        _submit(e){
          let dataUrl= '/api/hasildetail';
          let data={};
          let temp=[];
          for (let i = 1 ; i <= 25 ; i++){
            let obj={};
            let b = i.toString();
            let check = this.shadowRoot.querySelector('#id'+b).checked;

            if(check===true){
              let nama_gejala= this.shadowRoot.querySelector('#id'+b).name;
              let cf_pakar= this.shadowRoot.querySelector('#id'+b).value;
              let id_penyakit= this.shadowRoot.querySelector('#id'+b).getAttribute('idpenyakit');
              obj = {
                id_pil : "",
                id_riwayat : "",
                id_penyakit: parseInt(id_penyakit),
                nama_gejala: nama_gejala,
                cf_pakar: parseFloat(cf_pakar),
              }

              temp.push(obj);
            }
        }
        console.log(temp);
        var dtlogin = localStorage.getItem("id_user");
        console.log(dtlogin);
        this.$.ajax.method = 'POST';
        this.$.ajax.url = dataUrl+"/?id_user="+dtlogin;
        let json =JSON.stringify(temp);
        console.log(json);
        this.$.ajax.body = json;
        this.$.ajax.generateRequest();
      }
      menu(){
        let myapp = document.querySelector('my-app');
        let drawer = myapp.shadowRoot.querySelector('#drawer');
        drawer.open();
      }

      handleResponse(e){
        this.data = e.detail.response;
        // console.log(this.data);
        // for(let i = 1; i <= this.data.length; i++){
        //   this.no = i;
        // }
      }

      handleKonsultasiResponse(e){
        let data = e.detail.response;
        if(!data){
          return;
        }
        let result = [];
        for(let i=0; i<data.length; i++){

          result[i]= {id: data[i]["id_penyakit"],title: data[i]["jenis_penyakit"]};
        }
        console.log(result);
        this.penyakit= result;
      }

      errorResponse(e){
        console.log(e);
      }

    }

    window.customElements.define(MyKonsultasi.is, MyKonsultasi);
  </script>
</dom-module>
