<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">


<link rel="import" href="shared-styles.html">

<dom-module id="my-riwayat">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        /* padding: 10px; */
      }

      .button{
        background-color:var(--app-primary-color);
        color:black;

      }

      .member{
        width: 100%;
      }

      .horizontal{
          @apply --layout-horizontal;
      }

      .vertical{
        @apply --layout-vertical;
      }

      app-toolbar{
        padding-top: 10px;
      }
      .atap{
        height: 50px;
        text-align:center;
        padding-top:1%;
        font-size:25px;
        font-weight: bold;
        color:#fff;
        background-color:#97A7FE;
        }
        .field{
          background-color: #6576D4;
        }
        app-header-layout{
          margin-left: 60px;

        }
        paper-item{
          background-color: #C1C8ED;
        }
    </style>

    <iron-ajax
      id= "ajax"
      url="/api/riwayat"
      method="get"
      handle-as="json"
      on-response="handleResponse"
      on-error="errorResponse">
    </iron-ajax>
    <div class="atap">RIWAYAT</div>

    <iron-media-query query="(max-width: 600px)" query-matches="{{mobile}}"></iron-media-query>

    <template is="dom-if" if="{{!mobile}}">
      <center>
      <app-header-layout has-scrolling-region style="width:80%; height:100vh;">
        <!-- HEADER -->
        <app-header class="header" slot="header" fixed affects="waterfall">
          <app-toolbar class="toolbarsatu">
            <br></br>
            <!-- <paper-icon-button on-tap="back" icon="arrow-back" style="color:black;"></paper-icon-button> -->
          </app-toolbar>
          <app-toolbar class="field">
            <div class="horizontal" style="width:80%; font-size: 14px; padding-bottom:10px; border-bottom:1px;color:white;">
              <div class="member" style="padding-left:2px; width:20%">No</div>
              <div class="member" style="padding-left:2px; width:30%">Nama</div>
              <div class="member" style="padding-left:2px; width:30%">Tanggal</div>
              <div class="member" style="padding-left:2px; width:30%">Penyakit</div>
            </div>
          </app-toolbar>
        </app-header>
        <!-- CONTENT -->
      <div class="content" style="width: 100%;">
        <iron-list items="[[data]]" as="item" class="vertical">
      <template>
        <!-- <a href="#/inputusertb/[[item.id_user]]" tabindex="-1"> -->
          <paper-item>
            <div class="horizontal" style="width:80%; border-bottom: 1px solid rgb(200,200,200); height: 48dp; padding-top: 15px; font-size: 13px;">
              <div class="member"style="padding-left:2px; width:25%">[[item.id_user]]</div>
              <div class="member">[[item.usertb.nama]]</div>
              <div class="member">[[_convert(item.tanggal)]]</div>
              <div class="member">[[item.penyakit]]</div><hr style="color:white;">
            </div>
          </paper-item>
        </a>
      </template>
    </iron-list>
  </div>
  </app-header-layout>
</center>
    </template>
    <!-- </template> -->

    <template is="dom-if" if="{{mobile}}">
      <app-header-layout has-scrolling-region style="width:100%; height:100vh;">
        <!-- HEADER -->
        <app-header class="header" slot="header" fixed affects="waterfall">
          <app-toolbar>
            <paper-icon-button on-tap="menu" icon="menu"></paper-icon-button>
            <div main-title>Daftar User</div>
          </app-toolbar>
        </app-header>

      <div class="content">
        <iron-list items="[[data]]" as="item" class="vertical">
      <template>
        <a href="#/inputusertb/[[item.id_user]]" tabindex="-1">
          <!-- <paper-item class="horizontal"> -->
          <paper-item>
            <paper-item-body two-line>
            <div>[[item.id_user]]</div>
            <div>[[item.nama]]</div>
            <div>[[item.email]]</div>
            <div>[[item.j_kelamin]]</div>
            <div>[[item.t_lahir]]</div>
            <div>[[item.username]]</div>
            <div>[[item.password]]</div>
          </paper-item-body>
          </paper-item>
        </a>
      </template>
    </iron-list>
  </div>
  </app-header-layout>
    </template>


</template>

  <script>
    class MyRiwayat extends Polymer.Element {
      static get is() {
        return 'my-riwayat';
      }
        static get properties() {
          return {
            data:Object,
            route:{
              type:Object,
              observer:'_reload',
            },
            id_riwayat:{
              type: String,
              notify: true
            },
            nama:{
              type: String,
              notify: true
            },
            tanggal:{
              type: String,
              notify: true
            },
            penyakit:{
              type: String,
              notify: true
            },

      }
      }

      _reload(e){
        console.log(e);
        let path = e.path;
        let data= path.split('/');
        if(data[1] !== "riwayat"){
          return;
        }
        this.$.ajax.generateRequest();
      }

      _convert(date){
        let tanggal=date.split("T");
        // console.log(tanggal);
        let change=tanggal[0].split("-");
        console.log(change);
        return change[2]+"-"+change[1]+"-"+change[0];
      }



      menu(){
        let myapp = document.querySelector('my-app');
        let drawer = myapp.shadowRoot.querySelector('#drawer');
        drawer.open();
      }

      handleResponse(e){
        this.data = e.detail.response;
        console.log(this.data);
      }

      errorResponse(e){
        console.log(e);
      }

    }

    window.customElements.define(MyRiwayat.is, MyRiwayat);
  </script>
</dom-module>
