<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/app-layout/demo/sample-content.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-tentang">

  <template>

    <style include="shared-styles">
      :host {
        --app-primary-color: #303F9F;
        --app-primary-dark-color: #303F9F;
        --app-light-primary-color: #C5CAE9;
        --app-accent-color: #536DFE;
        --app-primary-color-kedua: #3F51B5;
        --app-secondary-color: #fff;
        --app-third-color: #3F51B5;

        display: block;
      }
      a {
        text-decoration: none;
        font-size: inherit;
        color: inherit;
      }
      .toolbar {
        @apply --layout-horizontal;
        @apply --layout-end-justified;
        background-color: rgba(255, 255, 255, 0.95);
        margin-bottom: 20px;
      }
      .tabs {
        height: 100%;
        @apply --layout-horizontal;
      }
      .tabs > a {
        @apply --layout-vertical;
        @apply --layout-center-center;
        margin: 12px 16px 12px;
        border-bottom: 1px solid #222;
      }

      .container {
        @apply --layout-horizontal;
        max-width: 800px;
        margin: 0 auto;
      }
      .container > * {
        @apply --layout-flex;
      }
      .container img {
        max-width: 100%;
        max-height: 100%;
      }
      .container h3 {
        font-size: 32px;
        font-weight: 300;
        margin: 24px 0;
      }
      .container p {
        line-height: 1.5;
      }
      @media (max-width: 600px) {
        .container {
          @apply --layout-vertical;
        }
      }
      .atap{
        height: 50px;
        text-align:center;
        padding-top:1%;
        font-size:25px;
        font-weight: bold;
        color:#fff;
        background-color:#97A7FE;
        }
        li{
          color: #757575;
        }
        p{
          color: #757575;
        }
        ul{
          font-family: "Times New Roman", Times, serif;
        }
    </style>
      <div class="atap">Tentang</div>
      <div class="container">
        <div>
          <ul>
            <li><h4 style="bold; color:#536DFE; font-size: 18px;" >Bantuan</h4></li>
          <p>Melakukan Konsultasi</p>
          <ol style="font-size: 15px;">
            <li>Pilih menu Login</li>
            <li>Apabila belum memiliki Username dan Password, lakukan pendaftaran dengan memilih menu Daftar</li>
            <li>Isi data secara lengkap pada form pendaftaran, bila sudah pilih Submit</li>
            <li>Lakukan login dengan menggunakan Username dan Password</li>
            <li>Pilih menu Konsultasi untuk melakukan diagnosa</li>
            <li>Centang gejala yang diderita anak, bila sudah pilih Submit</li>
            <li>Pilih menu Riwayat bila ingin melihat daftar hasil konsultasi yang sudah dilakukan</li>
          </ol><br>
          <div style="border-bottom:1px solid #aaa;"></div>
          <li><h4 style="bold; color:#536DFE; font-size: 18px;">Tentang</h4></li>
          <p style="font-size:14px;">APLIKASI SISTEM PAKAR DIAGNOSA PENYAKIT KULIT PADA ANAK adalah website yang membantu pengguna khususnya orang tua untuk mendiagnosa penyakit kulit berdasarkan gejala yang timbul untuk mengetahui lebih awal jenis penyakit kulit yang diderita. Akan tetapi aplikasi ini tidak menghilangkan peran seorang dokter. Tindakan lebih lanjut di sarankan untuk berkonsultasi dengan dokter. </p>
          <div style="border-bottom:1px solid #aaa;"></div>
          <li><h4 style="bold;color:#536DFE; font-size: 18px;">Kontak</h4></li>
          <p style="font-size:14px;">Untuk memberikan saran mengenai website sistem pakar ini silahkan mengirim pesan melalui email berikut</p>
          <!-- <iron-icon icon="communication:email" slot="prefix" style="color:var(--app-accent-color);"></iron-icon> -->
          <p style="font-size:14px;"><iron-icon icon="icons:account-box" item-icon></iron-icon>&ensp;Latifah Damayanti</p>
          <p style="font-size:14px;"><iron-icon icon="icons:mail" item-icon></iron-icon>&ensp;latifahdamayanti92@yahoo.com</p>
          </ul>
        </div>
      </div>

  </template>

  <script>
    Polymer({
      is: 'my-tentang'
    });
  </script>
</dom-module>
