<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<dom-module id="my-dropdown">
  <template>
    <style>

    </style>


    <paper-input label="[[label]]" id="input" value="[[value]]">
      <paper-icon-button slot="suffix" on-tap="dropdownOpen" icon="arrow-drop-down" alt="open" >
      </paper-icon-button>
    </paper-input>
    <iron-dropdown horizontal-align="right" vertical-align="top" id="dropdown">
      <paper-listbox  slot="dropdown-content" selected-item="{{selected}}" on-selected-changed="selectedChange">
        <template is="dom-repeat"  items="[[data]]">
          <paper-item value$="[[item.id]]" title$="[[item.title]]">[[item.title]]</paper-item>
        </template>
      </paper-listbox>
    </iron-dropdown>
  </template>


  <script>
    class MyDropdown extends Polymer.Element {
      static get is() {
        return 'my-dropdown';
      }
      static get properties() {
        return {
          data:Object,
          selected: Object,
          label: String,
          value: String,
          selectedIndex: String,
        }
      }

        dropdownOpen(e){
          this.shadowRoot.querySelector("#dropdown").open();
        }

        selectedChange(e){
          this.value=this.selected.getAttribute("title");
          this.selectedIndex=this.selected.getAttribute("value");
        }
  }

    window.customElements.define(MyDropdown.is, MyDropdown);
  </script>
</dom-module>
